<!-- view current entity -->
<div class="modal fade" id="entityJsonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Selected Entity</h4>
            </div>
            <div class="modal-body">

                <pre>{{model.entityToView | json}}</pre>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" data-dismiss="modal">
                    Ok
                </button>


            </div>
        </div>
    </div>
</div>
