<!-- For debugging. TODO: Remove when unneeded -->
<div>
<h4>Selected (debugging)</h4>

<pre>DateTime:{{model.collectionDateTime | json}}</pre>
<pre>Hierarchy: {{model.selectedHierarchy | json}}</pre>
<pre>Field Worker: {{model.currentFieldWorker | json}}</pre>
<pre>Location: {{model.selectedLocation | json }}</pre>
<pre>Social Groups: {{model.selectedSocialGroups | json}}</pre>
<pre>Individuals: {{model.selectedIndividuals | json}}</pre>
<pre>Relationships: {{model.selectedRelationships | json}}</pre>
</div>