<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate>
    <fieldset>
        <legend>Create Project Code</legend>
        <textbox label="Code Name" id="codeName" ng-model="model.codeName"></textbox>
        <textbox label="Code Group" id="codeGroup" ng-model="model.codeGroup"></textbox>
        <textbox label="Code Value" id="codeValue" ng-model="model.codeValue"></textbox>
        <textbox label="Description" id="description" ng-model="model.description"></textbox>
        <submitbutton></submitbutton>
    </fieldset>
</form>