<form name="locationForm" class="form-horizontal" ng-submit="startNewIndividual()" novalidate>
    <fieldset>
        <legend>Create Location</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="locationHierarchy">Location Hierarchy*</label>
            <div class="col-md-4">
                <select id="locationHierarchy" ng-model="model.location"
                        ng-required="true" class="form-control">
                    <!--  ng-options="l.name for l in locationTypes">-->
                    <option value="RUR">Rural</option>
                    <option value="URB">Urban</option>
                </select>
					<span class="help-block" ng-show="locationForm.locationType.$invalid && !locationForm.locationType.$pristine">
						<small ng-if="locationForm.locationType.$error.required">Required</small>
					</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="locationName">Location Name</label>
                <div class="col-md-4">
                    <input id="locationName" name="locationName" ng-model=model.locationName class="form-control input-md"/>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error' : locationForm.locationType.$invalid && !locationForm.locationType.$pristine}">
            <label class="col-md-4 control-label" for="locationType">Location
                Type*</label>
            <div class="col-md-4">
                <select id="locationType" ng-model="newLocation.locationType"
                        ng-required="true" class="form-control">
                    <!--  ng-options="l.name for l in locationTypes">-->
                    <option value="RUR">Rural</option>
                    <option value="URB">Urban</option>
                </select>
					<span class="help-block" ng-show="locationForm.locationType.$invalid && !locationForm.locationType.$pristine">
						<small ng-if="locationForm.locationType.$error.required">Required</small>
					</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="latitude">Latitude</label>
                <div class="col-md-4">
                    <input id="latitude" name="latitude" ng-model=model.newLocation.latitude class="form-control input-md"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="longitude">Longitude</label>
                <div class="col-md-4">
                    <input id="longitude" name="longitude" ng-model=model.newLocation.longitude class="form-control input-md"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="altitude">Altitude</label>
                <div class="col-md-4">
                    <input id="altitude" name="altitude" ng-model=model.newLocation.altitude class="form-control input-md"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="accuracy">Accuracy</label>
                <div class="col-md-4">
                    <input id="accuracy" name="accuracy" ng-model=model.newLocation.accuracy class="form-control input-md"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group" >
                <label class="col-md-4 control-label" for="fieldWorkerId">Field Worker ID</label>
                <div class="col-md-4">
                    <input ng-readonly="true" id="fieldWorkerId" name="fieldWorkerId" ng-model=model.fieldWorker.uuid class="form-control input-md"/>
                </div>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createButton"></label>
            <div class="col-md-8">
                <input type='submit' class="btn btn-success" id='createButton' />
            </div>
        </div>

    </fieldset>
</form>