<div class="row">
<div class="col-md-4" name="padding"></div>
<div class="alert alert-danger col-md-4" ng-show="vm.errors" id="errors">!{{vm.errors}}!</div>
</div>

<form class="css-form" novalidate ng-submit="vm.login()">
    <div class="row">
        <div class="form-group" >
            <label class="col-md-4 control-label" for="fieldWorkerId">Field Worker ID</label>
            <div class="col-md-4">
                <input id="fieldWorkerId" name="fieldWorkerId" ng-model=vm.username class="form-control input-md" required/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group" >
            <label class="col-md-4 control-label" for="password">Password</label>
            <div class="col-md-4">
                <input id="password" name="password" ng-model=vm.password class="form-control input-md" required/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group" >
            <label class="col-md-4 control-label" for="backend">Server</label>
            <div class="col-md-4">
                <input id="backend" name="backend" ng-model=vm.server class="form-control input-md" required/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group" >
            <div class="col-md-4">

                <input type="submit" class="btn btn-success" id='submit' name="submit" />
            </div>
        </div>
    </div>
</form>

{{ vm }}