<!--in migration create modal -->
<div class="modal fade" id="inMigrationCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" ng-i18next="[html]legends.inMigrations"></h4>
            </div>
            <div class="modal-body">

                <textbox i18next="[html]labels.origin" ng-model="model.currentInMigration.origin"></textbox>
                <br /><br /> <!-- todo css padding -->
                <textbox i18next="[html]labels.reason"  ng-model="model.currentInMigration.reason"></textbox>
                <br /><br />
                <datebox i18next="[html]labels.migrationDate"  ng-model="model.currentInMigration.migrationDate"> </datebox>
                <br /><br />

                <selectbox i18next="[html]labels.migrationType"  ng-model="model.currentInMigration.migrationType">

                    <option ng-repeat="type in model.migrationTypes"
                            value="{{type.codeValue}}">{{type.display}}</option>

                </selectbox>
                <br/><br/>

                <div ng-if="model.currentInMigration.migrationType === 'INTERNAL_MIGRATION'">
                    <div ng-hide="model.individual == null">
                        <constbox i18next="labels.individual" ng-model="model.individual.extId"></constbox>
                        <button class="btn btn-danger" ng-click="model.individual = null">{{ 'buttons.clear' | i18next }}</button>

                    </div>
                    <div ng-hide="model.individual != null">
                        <div align="center">
                            <button class="btn btn-default" id="individual-select"
                                    data-toggle="modal"
                                    data-target="#individualLookupModal"
                                    data-dismiss="modal">
                                {{ 'buttons.selectIndividual' | i18next }}
                            </button>
                        </div>

                    </div>
                </div>

                <div ng-if="model.currentInMigration.migrationType === 'EXTERNAL_MIGRATION'">
                    <div ng-hide="model.individual == null">
                        <constbox label="Individual" ng-model="model.individual.extId"></constbox>
                        <button ng-click="model.individual = null">{{ 'buttons.clear' | i18next }}</button>
                    </div>

                    <div align="center" ng-hide="model.individual != null">
                        <button class="btn btn-default" id="individual-create"
                                data-toggle="modal"
                                data-target="#individualCreateModalInMigrate">
                            {{ 'buttons.createIndividual' | i18next }}
                        </button>
                    </div>
                </div>

                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createInMigration"
                        ng-click="model.submitInMigration(model.currentInMigration)"
                        ng-disabled="model.currentInMigration.migrationType == null;
                                     model.individual == null">
                    {{ 'buttons.create' | i18next }}
                </button>
            </div>
        </div>
    </div>
</div>






<!-- individual create modal -->
<div class="modal fade" id="individualCreateModalInMigrate" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create New Individual</h4>
            </div>
            <div class="modal-body">



                <fieldset>
                    <textbox i18next="[html]labels.firstName" id="firstName" name="firstName"
                             ng-model="model.individual.firstName"></textbox>
                    <br/><br/>
                    <textbox i18next="[html]labels.lastName" id="lastName" name="lastName"
                             ng-model="model.individual.lastName"></textbox>
                    <br/><br/>
                    <extidbox i18next="[html]labels.externalId" id="extId" name="extId"
                              ng-model="model.individual.extId"></extidbox>
                    <br/><br/>
                    <selectbox ng-model="model.individual.gender" id="gender" name="gender"
                               i18next="[html]labels.gender">
                        <option ng-if="code.codeGroup === 'gender'"
                                ng-repeat="code in model.codes"
                                value="{{code.codeValue}}">{{code.codeName}}
                        </option>
                    </selectbox>
                    <br/><br/>
                    <datebox i18next="[html]labels.dateOfBirth" id="dateOfBirth"
                             max="{{model.collectionDateTime}}"
                             name="dateOfBirth"
                             ng-model="model.individual.dateOfBirth"></datebox>
                    <span class="alert alert-danger" ng-show="form.dateOfBirth.$error.max">{{ 'errors.dateInFuture' | i18next }}</span>

                    <br/><br/>
                    <datebox i18next="[html]labels.residencyStartDate"
                             max="{{model.collectionDateTime}}"
                             name="residencyStartDate"
                             id="residencyStartDate"
                             ng-model="model.residency.startDate"></datebox>
                    <span class="alert alert-danger" ng-show="form.residencyStartDate.$error.max">Start date cannot be in the future</span>

                    <br/><br/>
                </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next}}
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-dismiss="modal"
                        id="assignMembership"
                        ng-disabled="form.$invalid"
                        ng-click="model.submitIndividual(model.individual);model.submitResidency(model.residency)">
                    {{ 'buttons.submit' | i18next }}
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>

            </div>
            </form>

        </div>
    </div>
</div>


