<!--in migration create modal -->
<div class="modal fade" id="inMigrationCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create In Migration</h4>
            </div>
            <div class="modal-body">



                <fieldset>
                    <label for="currentIndividual">Individual: </label>
                    <div align="center">
                        <input type="text" id="currentIndividual" ng-model="model.individual" disabled />
                        <button class="btn btn-default" id="individual-select" data-toggle="modal" data-target="#selectIndividualModal">
                            Select Individual
                        </button>
                    </div>
                    <br/><br/>


                    <textbox label="Origin" id="origin" ng-model="model.currentInMigration.origin"></textbox>
                    <br /><br /> <!-- todo css padding -->
                    <textbox label="Reason" id="reason" ng-model="model.currentInMigration.reason"></textbox>
                    <br /><br />
                    <selectbox label="Migration Type" id="migrationType" ng-model="model.currentInMigration.migrationType">
                        <option>
                            TODO
                        </option>
                    </selectbox>



                </fieldset>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createInMigration">
                    Create
                </button>

            </div>
        </div>
    </div>
</div>

