<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate
      ng-init="model.loadData()">
    <fieldset>
        <legend>Create Visit</legend>
        <textbox label="External ID" id="extId" ng-model="model.extId"></textbox>
        <selectbox ng-model="model.location" id="location" name="location" label="Location">
          <option ng-repeat="loc in model.locations" value="{{loc.uuid}}">{{loc.extId}}</option>
        </selectbox>
        <datebox label="Visit Date" id="visitDate" ng-model="model.visitDate"></datebox>
        <div class="checkbox">
          <label>
            <input type="checkbox"
                   ng-model="model.inMigrations"> In Migrations
          </label>
        </div>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <submitbutton></submitbutton>
    </fieldset>
</form>
