<form name="form" class="form-horizontal" ng-submit="model.create()" novalidate>
    <fieldset>
        <legend>Create Death</legend>
        <constbox label="Visit" id="visit" ng-model="model.visit"></constbox>
        <constbox label="Individual" id="individual" ng-model="model.individual"></constbox>
        <textbox label="Death Place" id="deathPlace" ng-model="model.deathPlace"></textbox>
        <textbox label="Death Cause" id="deathCause" ng-model="model.deathCause"></textbox>
        <datebox label="Death Date" id="deathDate" ng-model="model.deathDate"></datebox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <div ng-if="form.$valid">
          <submitbutton></submitbutton>
        </div>
    </fieldset>
</form>
