
<!-- Edit Location modal -->
<div class="modal fade" id="editLocationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'legends.editLocation' | i18next }}</h4>
            </div>
            <div class="modal-body">

                <fieldset>
                    <constbox i18next="[html]labels.uuid" id="uuid" ng-model="model.tempLoc.uuid"></constbox>
                    <br/><br/>

                    <constbox i18next="[html]labels.externalId" id="extId" ng-model="model.tempLoc.extId"></constbox>
                    <br/><br/>

                    <textbox i18next="[html]labels.status" id="status" ng-model="model.tempLoc.entityStatus"></textbox>
                    <br/><br/>

                    <textbox i18next="[html]labels.locationName" id="name" ng-model="model.tempLoc.name"></textbox>
                    <br/><br/>

                    <selectbox i18next="[html]labels.type"
                               id="type"
                               ng-model="model.tempLoc.type">
                        <option ng-if="code.codeGroup === 'locationType'"
                                ng-repeat="code in model.codes"
                                value="{{code.codeValue}}">{{code.codeName}}
                        </option>
                    </selectbox>
                    <br/><br/>

                    <textbox i18next="[html]labels.description" id="name" ng-model="model.tempLoc.description"></textbox>
                    <br/><br/>

                </fieldset>




            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>


                <button class="btn" ng-click="model.setTemp('tempLoc')">
                    {{ 'buttons.reset' | i18next }}
                </button>

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        aria-label="Close" ng-click="model.submitEditedLocation()">
                    {{ 'buttons.submit' | i18next }}
                </button>



            </div>
        </div>
    </div>
</div>
