<!-- social group select modal -->
<div class="modal fade" id="locationCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">{{ 'legends.createNew' | i18next }}</h4>
            </div>
            <form name="form">
              <div class="modal-body">

                <fieldset>

                  <textbox i18next="labels.locationName" id="locationName" ng-model="model.location.name"></textbox>
                  <br /><br /> <!-- todo css padding -->
                  <extidbox i18next="labels.externalId" id="locationExtId" ng-model="model.location.extId"></extidbox>
                  <br /><br />
                  <selectbox i18next="labels.locationType" id="locationType" ng-model="model.location.type">
                    <option ng-if="code.codeGroup === 'locationType'"
                            ng-repeat="code in model.codes" value="{{code.codeValue}}">
                      {{code.codeName}}
                    </option>
                  </selectbox>
                </fieldset>
                <label for="emptyLocation">{{ 'labels.empty' | i18next }}</label> <input id="emptyLocation" type="checkbox" ng-model="model.emptyLocation" />
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                {{ 'buttons.cancel' | i18next }}
              </button>
              <button type="button" class="btn btn-primary" data-dismiss="modal"
                      id="createLocation"
                      ng-click="model.submitLocation(model.location)">
                {{ 'buttons.create' | i18next }}
              </button>

              </div>
            </form>
        </div>
    </div>
</div>
