<fieldset>
  <legend>Create New Location</legend>
  <textbox label="Location Name" id="locationName" ng-model="model.location.name"></textbox>
  <br /><br /> <!-- todo css padding -->
  <textbox label="External ID" id="extId" ng-model="model.location.extId"></textbox>
  <br /><br />
  <selectbox label="Location Type" id="locationType" ng-model="model.location.type">
    <option ng-if="code.codeGroup === 'locationType'"
            ng-repeat="code in model.codes" value="{{code.codeValue}}">
      {{code.codeName}}
    </option>
  </selectbox>
</fieldset>
<button class="btn btn-danger" data-toggle="tab" ng-click="">Reset</button>
<button class="btn btn-primary" data-toggle="tab" data-target="#group">Create</button>
