<!-- social group select modal -->
<div class="modal fade" id="locationSelectModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Select Location</h4>
            </div>
            <div class="modal-body">

                <!-- Search for existing location -->
                <table st-safe-src="model.allLocations" st-table="model.locationDisplayCollection" class="table table-striped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>extId</th>
                        <th st-sort="name">name</th>
                        <th>type</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input st-search="extId" class="input-sm form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="name" class="input-sm form-control" type="search"/>
                        </th>
                        <th>
                            <input st-search="type" class="input-sm form-control" type="search"/>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in model.locationDisplayCollection">
                        <td>
                            <button id="{{row.extId}}" class="btn btn-success" data-dismiss="modal" ng-click="model.setLocation(row)">
                                select
                            </button>
                        </td>
                        <td>{{row.extId}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.type}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" class="text-center">
                            <div st-pagination="" st-items-by-page=10></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    Cancel
                </button>


            </div>
        </div>
    </div>
</div>
