<form name="form" class="form-horizontal" ng-submit="model.create()" novalidate
      ng-init="model.loadData()">
    <fieldset>
        <legend>Create In Migration</legend>

        <textbox label="Origin" id="origin" ng-model="model.origin"></textbox>
        <datebox label="Migration Date" id="migrationDate" ng-model="model.migrationDate"></datebox>

        <textbox label="First Name" id="firstName" name="firstName" ng-model="model.firstName"></textbox>
        <textbox label="External ID" id="extId" name="extId" ng-model="model.extId"></textbox>
        <selectbox ng-model="model.gender" id="gender" name="gender" label="Gender*">
            <option ng-repeat="code in model.codes" value="{{code.codeValue}}">{{code.codeName}}</option>
        </selectbox>
        <textbox label="Destination" id="destination" ng-model="model.destination"></textbox>
        <constbox label="Visit" id="visit" ng-model="model.visit"></constbox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <checkbox label="More Individuals" id="moreIndividuals" ng-model="model.areMoreIndividuals"></checkbox>
        <div ng-if="form.$valid">
          <submitbutton></submitbutton>
        </div>
    </fieldset>
</form>
