<div>
    <fieldset>
        <legend>Begin Baseline</legend>


        <datebox label="Collection Date" id="collectionDate" ng-model="model.collectionDateTime"> </datebox>
        <br />



        <hr>
        <ng-include src="'domain/fieldworker/partials/fieldworkerSelectPartial.html'"></ng-include>
        <hr>

        <ng-include src="'domain/locationHierarchy/partials/locationHierarchySelectPartial.html'"></ng-include>
        <br /> <br />

        <hr>

        <button id="next"
                class="btn btn-primary pull-right"
                onClick="$('#locationTab').tab('show')"
                ng-disabled="model.collectionDateTime == null;model.currentFieldWorker == null;model.currentHierarchy == null">
            Location
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

    </fieldset>
</div>




