<header>
  <h1>OpenHDS {{selectedLocation}}</h1>
</header>

<!-- Left Column -->
<div class="container" ng-init="model.init()">
  <div class="row">
    <div class="col-md-2 no-float">
      <ng-include src="'core/partials/navigationTabs.html'"></ng-include>
      <hr>

      <!-- For debugging. TODO: Remove when unneeded -->
      <ng-include src="'core/partials/entityStatusBaseline.html'"></ng-include>

    </div>

    <!-- Main content -->
    <div class="col-md-10 no-float">
      <div>
        <ng-include src="'baseline/view/baselineTabBarPartial.html'"></ng-include>

        <div class="tab-content">

          <!-- Baseline Initialization -->
          <div role="tabpanel" class="tab-pane fade in active" id="baseline">
            <ng-include src="'baseline/view/baselineInit.html'"></ng-include>
          </div>

          <!-- Location -->
          <div role="tabpanel" class="tab-pane fade" id="location">
            <ng-include src="'baseline/view/locationBaseline.html'"></ng-include>
          </div>

          <!-- Social Group -->
          <div role="tabpanel" class="tab-pane fade" id="group">
            <ng-include src="'baseline/view/socialGroupBaseline.html'"></ng-include>
          </div>

          <!-- Individuals -->
          <div role="tabpanel" class="tab-pane fade" id="individuals">
            <ng-include src="'baseline/view/individualBaseline.html'"></ng-include>
          </div>

          <!-- Relationships -->
          <div role="tabpanel" class="tab-pane fade" id="relationships">
            <ng-include src="'baseline/view/relationshipBaseline.html'"></ng-include>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</div>











