<div>
    <fieldset>
        <legend ng-i18next="[html]legends.beginBaseline"></legend>
        <datebox i18next="[html]labels.collectionDate" id="collectionDate" ng-model="model.collectionDateTime"> </datebox>
        <br />

        <hr>
        <ng-include src="'domain/fieldworker/partials/fieldworkerSelectPartial.html'"></ng-include>
        <br /><br />
        <hr>

        <ng-include src="'domain/locationHierarchy/partials/locationHierarchySelectPartial.html'"></ng-include>
        <br /> <br />

        <hr>

        <button id="next" class="btn btn-primary pull-right" onClick="$('#locationTab').tab('show')"
                class="glyphicon glyphicon-arrow-right"
                ng-disabled="model.collectionDateTime == null;model.currentFieldWorker == null;model.currentHierarchy == null">
            {{'navigation.startLocation' | i18next}}
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

    </fieldset>
</div>
