<header>
  <h1>OpenHDS {{selectedLocation}}</h1>
</header>


<!-- Left Column -->
<div class="container" ng-init="model.init()">
  <div class="row">
    <div class="col-md-2 no-float">
      <ng-include src="'core/partials/navigationTabs.html'"></ng-include>
      <hr>
      Selected (debugging)


      <pre>Collection DateTime:{{model.collectionDateTime | json}}</pre>
      <pre>Hierarchy: {{model.selectedHierarchy | json}}</pre>
      <pre>Field Worker: {{model.currentFieldWorker | json}}</pre>


    </div>


    <!-- Main content -->
    <div class="col-md-10 no-float">
      <div>



        <ng-include src="'baseline/view/baselineTabBarPartial.html'"></ng-include>


        <div class="tab-content">

          <div role="tabpanel" class="tab-pane fade in active" id="baseline">
            <div>
              <fieldset>
                <legend>Begin Baseline</legend>
                <datebox label="Collection Date" id="collectionDate" ng-model="model.collectionDateTime"> </datebox>
                <br />
                <ng-include src="'baseline/view/fieldworkerSelectPartial.html'"></ng-include>
                <ng-include src="'baseline/view/locationHierarchySelectPartial.html'"></ng-include>
                <br /> <br />
              </fieldset>
              <hr>
              <button class="btn btn-primary" data-toggle="tab" data-target="#location">Next</button>
            </div>
          </div>


          <div role="tabpanel" class="tab-pane fade" id="location">
              <ng-include src="'domain/location/partials/locationBaselineForm.html'"></ng-include>
              <hr>


            <button class="btn btn-primary" data-toggle="tab" data-target="#group">Next</button>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="group">
            <ng-include src="'domain/socialgroup/partials/socialGroupBaselineForm.html'"> </ng-include>
            <hr>
            <button class="btn btn-primary" data-toggle="tab" data-target="#individuals">Next</button>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="individuals">
            <ng-include src="'domain/individual/partials/individualBaselineForm.html'"> </ng-include>
            <hr>
            <button class="btn btn-primary" data-toggle="tab" data-target="#relationships">Next</button>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="relationships">
            <ng-include src="'domain/relationship/partials/relationshipBaselineForm.html'"> </ng-include>
            <hr>
            <button class="btn btn-success" data-toggle="tab" data-target="#group">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-include src="'domain/fieldworker/partials/fieldWorkerSelectModal.html'">
</ng-include>

<ng-include src="'domain/locationHierarchy/partials/locationHierarchyModal.html'">
</ng-include>
