<header>
  <h1>OpenHDS</h1>
</header>
<div class="container" ng-init="model.init()"
    <div class="row">
      <div class="col-md-2 no-float">
        <div>
          <a class="btn" href="/newstudy">New Study</a>
        </div>
        <div>
          <a class="btn"><strong>Baseline Census</strong></a>
        </div>
        <div>
          <a class="btn" href="/update">Update Census</a>
        </div>
        <div>
          <a class="btn" href="/audit">Entity Audit</a>
        </div>
        <div>
          <a class="btn" href="#">Logout</a>
        </div>
        <hr />
        <label for="currentFieldworker">Current Fieldworker: </label>
        <div>
          <input type="text" class="form-control" id="currentFieldworker"
                 ng-model="model.currentFieldWorker.id" disabled></input>
        </div>
        <div class="btn btn-default form-control" id="fieldworker-select"
             data-toggle="modal" data-target="#fieldworkerModal">
          Select Fieldworker
        </div>
        <br />
        <br />
        <label for="currentHierarchy">Current Location Hierarchy: </label>
        <div>
          <input type="text" class="form-control" id="currentHierarchy"
                 ng-model="model.currentHierarchy.id" disabled></input>
        </div>

        <div class="btn btn-default form-control" id="fieldworker-select"
             data-toggle="modal" data-target="#hierarchyModal">
          Select Location Hierarchy
        </div>
        {{model.selectedHierarchy}}

        <div class="btn btn-default form-control" id="submitVisit"
             ng-click="model.submitVisit()">
          Submit Visit
        </div>

      </div>
      <div class="col-md-10 no-float">
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a role="tab" id="baselineTab"
                 data-toggle="tab" data-target="#baseline">
                Baseline
              </a>
            </li>
            <li role="presentation">
              <a role="tab" ="locationTab"
                 data-toggle="tab" data-target="#location">
                Location
              </a>
            </li>
            <li role="presentation">
              <a role="tab" id="groupTab"
                 data-toggle="tab" data-target="#group">
                Group
              </a>
            </li>
            <li role="presentation">
              <a role="tab" id="individualsTab"
                 data-toggle="tab" data-target="#individuals">
                Individuals
              </a>
            </li>
            <li role="presentation">
              <a role="tab" id="relationshipsTab"
                 data-toggle="tab" data-target="#relationships">
                Relationships
              </a>
            </li>

          </ul>
          <!-- todo verify models -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="baseline">
              <div>
                <fieldset>
                  <legend>Begin Baseline</legend>
                  <datebox label="Collection Date"
                           id="collectionDate"
                           ng-model="model.collectionDateTime">
                  </datebox>
                </fieldset>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="location">
              <fieldset>
                <legend>Create New Location</legend>
                  <textbox label="Location Name" id="locationName" ng-model="model.location.name"></textbox>
                  <br /><br /> <!-- todo css padding -->
                  <textbox label="External ID" id="extId" ng-model="model.location.extId"></textbox>
                  <br /><br />
                  <selectbox label="Location Type" id="locationType" ng-model="model.location.type">
                    <option ng-if="code.codeGroup === 'locationType'"
                            ng-repeat="code in model.codes" value="{{code.codeValue}}">
                      {{code.codeName}}
                    </option>
                  </selectbox>
              </fieldset>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="group">
              <fieldset>
                <legend>Create New Social Group</legend>
                <textbox label="Group Name" id="groupName"
                         ng-model="model.socialGroup.groupName"></textbox>
                <br /><br />
                <textbox label="External ID" id="extId"
                         ng-model="model.socialGroup.extId"></textbox>
                <br /><br />
                <selectbox label="Group Type" id="groupType"
                           ng-model="model.socialGroup.groupType">
                  <option ng-if="code.codeGroup === 'socialGroupType'"
                          ng-repeat="code in model.codes"
                          value="{{code.codeValue}}">
                    {{code.codeName}}
                  </option>
                </selectbox>
              </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="individuals">
              <div class="col-md-9">
                <fieldset>
                  <legend>Create New Individuals</legend>
                  <textbox label="First Name" id="firstName" name="firstName"
                           ng-model="model.firstName"></textbox>
                  <br /><br />
                  <textbox label="External ID" id="extId" name="extId"
                           ng-model="model.extId"></textbox>
                  <br /><br />
                  <selectbox ng-model="model.gender" id="gender" name="gender"
                             label="Gender*">
                    <option ng-if="code.codeGroup === 'gender'"
                            ng-repeat="code in model.codes"
                            value="{{code.codeValue}}">{{code.codeName}}
                    </option>
                  </selectbox>
                  <br /><br />
                  <datebox label="Date Of Birth" id="dateOfBirth"
                           ng-model="model.individual.dateOfBirth"></datebox>
                  <br /><br />
                  <selectbox label="Group Membership Start Type"
                             id="membershipStartType"
                             ng-model="model.individual.membershipStartType">
                    <option ng-if="code.codeGroup === 'membershipType'"
                            ng-repeat="code in model.codes"
                            value="{{code.codeValue}}">{{code.codeName}}
                    </option>
                  </selectbox>
                  <br /><br />
                  <datebox label="Group Membership Start Date"
                           id="membershipStartDate"
                           ng-model="model.membershipStartDate"></datebox>
                  <br /><br />
                  <selectbox ng-model="model.residencyStartType"
                             id="residencyStartType" label="Residency Start Type">
                    <option ng-if="code.codeGroup === 'membershipType'"
                            ng-repeat="code in model.codes"
                            value="{{code.codeValue}}">{{code.codeName}}
                    </option>
                  </selectbox>
                  <br /><br />
                  <datebox label="Residency Start Date" id="residencyStartDate"
                           ng-model="model.residencyStartDate"></datebox>
                  <br /><br />
                  <button class="btn" id="moreIndividuals">More Individuals</button>
                </fieldset>
              </div>
              <div class="col-md-3">
                <input type="text"></input>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="relationships">
              <div class="col-md-9">
                <fieldset>
                  <legend>Create New Relationships</legend>
                  <textbox label="Individual A" id="individualA"
                           ng-model="model.headOfHousehold"></textbox>
                  <br /><br />
                  <textbox label="Individual B" id="individualB"
                           ng-model="model.individualB"></textbox>
                  <br /><br />
                  <selectbox ng-model="model.relationshipType"
                             id="relationshipType" label="Relationship Type">
                    <option ng-if="code.codeGroup === 'relationshipType'"
                            ng-repeat="code in model.codes"
                            value="{{code.codeValue}}">
                      {{code.codeName}}
                    </option>
                  </selectbox>
                  <br /><br />
                  <datebox label="Start Date" id="startDate"
                           ng-model="model.startDate"></datebox>
                  <br /><br />
                  <button class="btn" id="moreRelationships">
                    More Relationships
                  </button>
                </fieldset>
              </div>
              <div class="col-md-3">
                <input type="text"></input>
              </div>
            </div>
          </div>
      </div>
    </div>
</div>

<!-- fieldworker modal -->
<div class="modal fade" id="fieldworkerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fieldworker Select</h4>
      </div>
      <div class="modal-body">
        <select id="fieldWorkerSelect" ng-model="model.currentFieldWorkerUuid">
          <option ng-repeat="fw in model.allFieldWorkers"
                  value="{{fw.uuid}}" title="fw.id">
            {{fw.firstName}} {{fw.lastName}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                ng-click="model.saveFieldWorker()">Done</button>
      </div>
    </div>
  </div>
</div>


<!-- hierarchy modal -->
<div class="modal fade" id="hierarchyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Location Hierarchy Select</h4>
      </div>
      <div class="modal-body">
        <div ng-if="level.name !== 'UNKNOWN_STATUS'"
             ng-repeat="level in model.allHierarchyLevels">
          <select ng-model="model.selectedHierarchy[level.keyIdentifier - 1]">
            <option ng-if="level.keyIdentifier === hierarchy.level"
                    ng-repeat="hierarchy in model.allHierarchies"
                    value="{{hierarchy.uuid}}">{{hierarchy.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
                ng-click="model.saveLocationHierarchy()">Close</button>
      </div>
    </div>
  </div>
</div>
