<row><h3>{{ 'legends.individual' | i18next }}</h3></row>
<row>

  <button id="openCreateIndividualsModal" class="btn btn-primary"
          data-toggle="modal"
          data-target="#individualCreateModal"
          ng-click="model.getExtId('Individual')">
        <h3>{{ 'legends.createNew' | i18next }}</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>

    <button class="btn btn-success"  data-toggle="modal" data-target="#individualSelectModal">
        <h3> {{ 'legends.selectExisting' | i18next }} </h3>
        <h2>
            <span class="glyphicon glyphicon-search"></span>
        </h2>

    </button>
</row>
<hr>

<div ng-if="model.selectedIndividuals.length > 0">
    <!-- Display selected individuals -->
    <h4>{{ 'legends.selectedIndividuals' | i18next }}</h4>
    <table st-table="model.selectedIndividuals" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'tables.firstName' | i18next }}</th>
            <th>{{ 'tables.lastName' | i18next }}</th>
            <th>{{ 'tables.dateOfBirth' | i18next }}</th>
            <th>{{ 'tables.extId' | i18next }}</th>
            <th>{{ 'tables.gender' | i18next }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.selectedIndividuals">
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.dateOfBirth}}</td>
            <td>{{row.extId}}</td>
            <td>{{row.gender}}</td>
            <td>
                <button type="button" ng-click="model.removeSelectedEntity('selectedIndividuals',row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>

</div>

<div ng-if="model.submittedMemberships.length > 0">
    <h4>{{ 'legends.submittedMemberships' | i18next}}</h4>
    <table st-table="model.submittedMemberships" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'tables.individual' | i18next }}</th>
            <th>{{ 'tables.socialGroup' | i18next }}</th>
            <th>{{ 'tables.extId' | i18next }}</th>
            <th>{{ 'tables.startType' | i18next }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedMemberships">
            <td>{{row.individual}}</td>
            <td>{{row.socialGroup}}</td>
            <td>{{row.extId}}</td>
            <td>{{row.startType}}</td>

        </tr>

        </tbody>
    </table>
    <hr>
</div>

<button id="startRelationships"
        class="btn btn-primary pull-right"
        onClick="$('#relationshipsTab').tab('show')"
        ng-disabled="model.selectedIndividuals.length < 1">
    {{ 'buttons.relationship' | i18next }}
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>
