<row><h3>Location</h3></row>
<row>

    <button id="displayNewLocationModal" class="btn btn-primary" data-toggle="modal" data-target="#locationCreateModal">
        <h3>Create New</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>

    <button id="displaySelectLocationModal" class="btn btn-success"  data-toggle="modal" data-target="#locationSelectModal">
        <h3> Select Existing </h3>
        <h2>
            <span class="glyphicon glyphicon-search"></span>
        </h2>
    </button>
</row>

<hr>

<div ng-if="model.selectedLocation !=null">
    <h4>Current Location:</h4>

    <table st-table="model.selectedLocation" class="table table-striped">
        <thead>
        <tr>
            <th>uuid</th>
            <th>extId</th>
            <th>name</th>
            <th>type</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td id="selectedLocationId">{{model.selectedLocation.uuid}}</td>
            <td id="selectedLocationExtId">{{model.selectedLocation.extId}}</td>
            <td id="selectedLocationName">{{model.selectedLocation.name}}</td>
            <td id="selectedLocationType">{{model.selectedLocation.type}}</td>
        </tr>
        </tbody>
    </table>




</div>

<hr>

<button id="startSocialGroups"
        class="btn btn-primary pull-right"
        onClick="$('#groupTab').tab('show')"
        ng-disabled="model.selectedLocation == null">
    Social Groups
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>




