<row><h3>Location</h3></row>
<row>

    <button class="btn btn-primary" data-toggle="modal" data-target="#locationCreateModal">
        <h3>Create New</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>

    <button class="btn btn-success"  data-toggle="modal" data-target="#locationSelectModal">
        <h3> Select Existing </h3>
        <h2>
            <span class="glyphicon glyphicon-search"></span>
        </h2>
    </button>
</row>

<hr>

<h4>Current Location:</h4>

<table st-table="model.selectedLocation" class="table table-striped">
    <thead>
    <tr>
        <th>uuid</th>
        <th>extId</th>
        <th>name</th>
        <th>type</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{model.selectedLocation.uuid}}</td>
        <td>{{model.selectedLocation.extId}}</td>
        <td>{{model.selectedLocation.name}}</td>
        <td>{{model.selectedLocation.type}}</td>
    </tr>
    </tbody>
</table>

<hr>

<button class="btn btn-primary pull-right" onClick="$('#groupTab').tab('show')">
    Social Groups
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>



<!-- Modals -->
<ng-include src="'domain/location/partials/locationCreateModal.html'"></ng-include>
<ng-include src="'domain/location/partials/locationSelectModal.html'"></ng-include>
