
<row><h3>Location</h3></row>
<row>

    <button class="btn btn-primary" data-toggle="modal" data-target="#locationCreateModal">
        <h3>Create New</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>

    <button class="btn btn-success"  data-toggle="modal" data-target="#locationSelectModal">
        <h3> Select Existing </h3>
        <h2>
            <span class="glyphicon glyphicon-search"></span>
        </h2>
    </button>
</row>

<hr>

<h4>Current Location:</h4>
<!-- TODO: placeholder -->
{{model.selectedLocation}}


<hr>

<button class="btn btn-primary pull-right" data-toggle="tab" data-target="#group">
    Social Groups
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>



<!-- Modals -->
<ng-include src="'domain/location/partials/locationCreateModal.html'"></ng-include>
<ng-include src="'domain/location/partials/locationSelectModal.html'"></ng-include>