<row><h3>{{ 'legends.relationship' | i18next }}</h3></row>
<row>

    <button id="createRelationship" class="btn btn-primary" data-toggle="modal" data-target="#relationshipCreateModal">
        <h3>{{ 'legends.createNew' | i18next }}</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>
</row>
<hr>

<div ng-if="model.submittedRelationships.length > 0">
    <!-- Display selected individuals -->
    <h4>{{ 'legends.selectedRelationships' | i18next }}</h4>
    <table st-table="model.createdRelationships" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'tables.individualA' | i18next }}</th>
            <th>{{ 'tables.individualB' | i18next }}</th>
            <th>{{ 'tables.relationshipStartType' | i18next }}</th>
            <th>{{ 'tables.relationshipStartDate' | i18next }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedRelationships">
            <td>{{row.individualA.uuid}}</td>
            <td>{{row.individualB.uuid}}</td>
            <td>{{row.relationshipType}}</td>
            <td>{{row.startDate}}</td>
            <td>
                <button type="button" ng-click="model.removeSelectedEntity('submittedRelationships',row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
    <hr>

</div>

<button class="btn btn-primary pull-right"
        id="completeBaseline"
        data-toggle="tab"
        data-target="#baseline"
        ng-click="model.selectedLocation = null;
                  model.selectedSocialGroups = [];
                  model.selectedIndividuals=[];
                  model.currentIndividual=null;
                  model.submittedMemberships = [];
                  model.submittedRelationships = []">
    {{ 'buttons.completeBaseline' | i18next }}
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>
