<row><h3>Social Group</h3></row>
<row>
    <button id="createSocialGroup" class="btn btn-primary" data-toggle="modal" data-target="#socialGroupCreateModal">
        <h3>Create New</h3>
        <h2>
            <span class="glyphicon glyphicon-plus"></span>
        </h2>
    </button>

    <button class="btn btn-success"  data-toggle="modal" data-target="#socialGroupSelectModal">
        <h3> Select Existing </h3>
        <h2>
            <span class="glyphicon glyphicon-search"></span>
        </h2>
    </button>
</row>
<hr>

<!-- Display selected social groups -->
<h4>Selected Social Groups:</h4>
<table st-table="model.selectedSocialGroups" class="table table-striped">
    <thead>
    <tr>
        <th>extId</th>
        <th st-sort="groupName">group name</th>
        <th>group type</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in model.selectedSocialGroups">
        <td id="{{row.extId}}">{{row.extId}}</td>
        <td>{{row.groupName}}</td>
        <td>{{row.groupType}}</td>
        <td>
            <button type="button" ng-click="model.removeSelectedEntity('selectedSocialGroups',row)" class="btn btn-sm btn-danger">
                <i class="glyphicon glyphicon-remove-circle">
                </i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<button id="startIndividuals"
        class="btn btn-primary pull-right"
        onClick="$('#individualsTab').tab('show')"
        ng-disabled="model.selectedSocialGroups.length < 1">
    Individuals
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>



<!-- Modals -->
<ng-include src="'domain/socialGroup/partials/socialGroupSelectModal.html'"></ng-include>
<ng-include src="'domain/socialGroup/partials/socialGroupCreateModal.html'"></ng-include>
