<div>
    <fieldSet>
        <legend>{{ 'legends.addEvents' | i18next }}</legend>
        <div align="center form-group">
          <div class="col-md-4">
            <button class="btn btn-info" id="individual-select" data-toggle="modal" data-target="#individualSelectModal">
              {{ 'buttons.selectIndividual' | i18next }}
          </button>
          </div>
          <constbox id="currentIndividual" ng-model="model.currentIndividual.extId"></constbox>
        </div>
    </fieldSet>
    <br/><br/>
</div>

<div>
    <!-- TODO: logic of disabling buttons based on individual selected -->

    <button id="displayNewInMigrationModal" class="btn btn-success" data-toggle="modal"
            ng-click="model.currentEventType = 'inMigration'"
            data-target="#inMigrationCreateModal">
      <h4 align="center" ng-i18next="buttons.inMigrations"></h4>

        <h2>
            <span class="glyphicon glyphicon-log-in"></span>
        </h2>
    </button>

    <button id="displayNewOutMigrationModal" class="btn btn-danger"
            data-toggle="modal"
            data-target="#outMigrationCreateModal"
            ng-disabled="model.currentIndividual == null">
        <h4 ng-i18next="buttons.outMigrations"></h4>
        <h2>
            <span class="glyphicon glyphicon-log-out"></span>
        </h2>
    </button>

    <button id="displayNewPregnancyObservationModal" class="btn btn-default" data-toggle="modal"
            data-target="#pregnancyObservationCreateModal"
            ng-disabled="!model.pregnancyDisableCheck()">
        <h4 ng-i18next="buttons.pregnancyObservation"></h4>
        <h2>
            <span class="glyphicon glyphicon-eye-open"></span>
        </h2>

    </button>
    <button id="displayNewPregnancyOutcomeModal" class="btn btn-default" data-toggle="modal"
            ng-click="model.currentEventType = 'pregnancyOutcome'"
            data-target="#pregnancyOutcomeCreateModal"
            ng-disabled="!model.pregnancyDisableCheck()">
        <h4 ng-i18next="buttons.pregnancyOutcome"></h4>

        <h2>
            <span class="glyphicon glyphicon-check"></span>
        </h2>
    </button>
    <button id="displayNewDeathModal" class="btn btn-primary" data-toggle="modal"
            data-target="#deathCreateModal" ng-disabled="model.currentIndividual == null">
        <h4 ng-i18next="buttons.death"></h4>

        <h2>
            <span class="glyphicon glyphicon-remove-sign"></span>
        </h2>


    </button>
</div>

<hr>



<div ng-if="model.submittedEvents.length > 0">
    <!-- Display submitted events
        TODO: wire this up correctly
        segregate by event type? (different fields for each)
    -->
    <h4>Submitted Events:</h4>
    <table st-table="model.submittedEvents" class="table table-striped">
        <thead>
        <tr>
            <th>event type</th>
            <th>individual</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedEvents">
            <td>{{row.eventType}}</td>
            <td>{{row.individual.extId}}</td>
            <td>
                <button type="button" ng-click="model.removeSelectedEntity('selectedSocialGroups',row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<button id="complete-visit"
        class="btn btn-primary pull-right"
        ng-click="model.finishVisit()">
    {{ 'buttons.completeVisit' | i18next }}
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>
