<div>
    <fieldSet>

        <legend>Add Events</legend>

            <label for="currentIndividual">Individual: </label>
            <div align="center">
                <input type="text" id="currentIndividual" ng-model="model.currentIndividual.extId" disabled />
                <button class="btn btn-default" id="fieldworker-select" data-toggle="modal" data-target="#individualSelectModal">
                    Select Individual
                </button>
            </div>






    </fieldSet>



    <br/><br/>
</div>

<div>
    <!-- TODO: logic of disabling buttons based on individual selected -->

    <button id="displayNewInMigrationModal" class="btn btn-success" data-toggle="modal"
            data-target="#inMigrationCreateModal">
        <h4>In</h4>
        <h4>&nbspMigration&nbsp</h4>

        <h2>
            <span class="glyphicon glyphicon-log-in"></span>
        </h2>
    </button>

    <button id="displayNewOutMigrationModal" class="btn btn-danger" data-toggle="modal"
            data-target="#outMigrationCreateModal" ng-disabled="model.currentIndividual == null">
        <h4>Out</h4>
        <h4>&nbspMigration&nbsp</h4>

        <h2>
            <span class="glyphicon glyphicon-log-out"></span>
        </h2>
    </button>



    <button id="displayNewPregnancyObservationModal" class="btn btn-default" data-toggle="modal"
            data-target="#pregnancyObservationCreateModal"
            ng-disabled="!model.pregnancyDisableCheck()">
        <h4>Pregnancy</h4>
        <h4>Observation</h4>

        <h2>
            <span class="glyphicon glyphicon-eye-open"></span>
        </h2>

    </button>
    <button id="displayNewPregnancyOutcomeModal" class="btn btn-default" data-toggle="modal"
            data-target="#pregnancyOutcomeCreateModal"
            ng-disabled="!model.pregnancyDisableCheck()">
        <h4>&nbspPregnancy&nbsp</h4>
        <h4>Outcome</h4>

        <h2>
            <span class="glyphicon glyphicon-check"></span>

        </h2>
    </button>
    <button id="displayNewDeathModal" class="btn btn-primary" data-toggle="modal"
            data-target="#deathCreateModal" ng-disabled="model.currentIndividual == null">
        <h4> &nbsp&nbsp&nbsp Death &nbsp&nbsp&nbsp</h4>
        <h4><br/></h4>

        <h2>
            <span class="glyphicon glyphicon-remove-sign"></span>
        </h2>


    </button>
</div>

<hr>



<div ng-if="model.submittedEvents.length > 0">
    <!-- Display submitted events
        TODO: wire this up correctly
        segregate by event type? (different fields for each)
    -->
    <h4>Submitted Events:</h4>
    <table st-table="model.submittedEvents" class="table table-striped">
        <thead>
        <tr>
            <th>event type</th>
            <th>individual</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedEvents">
            <td>{{row.eventType}}</td>
            <td>{{row.individual.extId}}</td>
            <td>
                <button type="button" ng-click="model.removeSelectedEntity('selectedSocialGroups',row)" class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove-circle">
                    </i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<button id="tb"
        class="btn btn-primary pull-right"
        ng-click="model.finishVisit()">
    Complete Visit
    <span class="glyphicon glyphicon-arrow-right"></span>
</button>

