<header>
  <h1>OpenHDS {{selectedLocation}}</h1>
</header>

<!-- Left Column -->
<div class="container" ng-init="model.init()">
  <div class="row">
    <div class="col-md-2 no-float">
      <ng-include src="'core/partials/navigationTabs.html'"></ng-include>
      <hr>

    </div>

    <!-- Main content -->
    <div class="col-md-10 no-float">
      <div>
        <ng-include src="'update/view/updateTabBarPartial.html'" ng-hide="1==1"></ng-include>

        <div class="tab-content">

          <div id="alertbox">
            <div class="alert alert-danger" role="alert" ng-show="model.errorMessage">
              <button type="button" class="close" ng-click="model.errorMessage = null">
                <span>&times;</span>
              </button>
              <strong>{{model.errorMessage.statusText}}</strong> {{model.errorMessage.data[0].message}}
            </div>
          </div>

          <!-- Update Initialization -->
          <div role="tabpanel" class="tab-pane fade in active" id="update">
            <ng-include src="'update/view/updateInit.html'"></ng-include>

          </div>

          <!-- Events -->
          <div role="tabpanel" class="tab-pane fade" id="events">
            <ng-include src="'update/view/events.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modals -->

<ng-include src="'domain/fieldworker/partials/fieldWorkerSelectModal.html'"></ng-include>
<ng-include src="'domain/locationHierarchy/partials/locationHierarchyModal.html'"></ng-include>

<ng-include src="'domain/location/partials/locationSelectModal.html'"></ng-include>

<ng-include src="'domain/individual/partials/individualSelectModal.html'"></ng-include>
<ng-include src="'domain/individual/partials/individualLookupModal.html'"></ng-include>

<ng-include src="'domain/inMigration/partials/inMigrationCreateModal.html'"></ng-include>
<ng-include src="'domain/outMigration/partials/outMigrationCreateModal.html'"></ng-include>
<ng-include src="'domain/death/partials/deathCreateModal.html'"></ng-include>
<ng-include src="'domain/pregnancyObservation/partials/pregnancyObservationCreateModal.html'"></ng-include>
<ng-include src="'domain/pregnancyOutcome/partials/pregnancyOutcomeCreateModal.html'"></ng-include>
<ng-include src="'domain/membership/partials/membershipCreateModal.html'"></ng-include>
