<div>
    <fieldset>
        <legend>New Visit</legend>

        <textbox label="External ID" id="extId" ng-model="model.visit.extId"></textbox>
        <br /><br />
        <hr>

        <datebox label="Visit Date" id="visitDate" ng-model="model.visitDate"> </datebox>
        <br /><br />

        <hr>
        <ng-include src="'domain/fieldworker/partials/fieldworkerSelectPartial.html'"></ng-include>
        <hr>

        <ng-include src="'domain/locationHierarchy/partials/locationHierarchySelectPartial.html'"></ng-include>
        <br />

        <hr>


        <!-- TODO: select location -->
        <label for="currentLocation">Location: </label>
        <div align="center">
            <input type="text" id="currentLocation" ng-model="model.selectedLocation.name" disabled />
            <button class="btn btn-default" id="location-select" data-toggle="modal" data-target="#locationSelectModal"
                ng-disabled="model.selectedHierarchy.length < 1">
                Select Location
            </button>
        </div>
        <br/>


        <hr>
        <button id="next"
                class="btn btn-primary pull-right"
                ng-click="model.submitVisit()"
                ng-disabled="model.visit.extId == '';
                             model.visitDate == null;
                             model.currentFieldworker == null;
                             model.selectedHierarchy.length < 1;
                             model.selectedLocation == null">
            Begin Visit
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

    </fieldset>
</div>


<hr>


<div ng-if="model.submittedVisits.length > 0">
    <!-- Display submitted visits -->
    <h4>Submitted Visits:</h4>
    <table st-table="model.submittedVisits" class="table table-striped">
        <thead>
        <tr>
            <th>extId</th>
            <th>visit date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedVisits">
            <td id="{{row.extId}}">{{row.extId}}</td>
            <td>{{row.visitDate}}</td>
        </tr>
        </tbody>
    </table>
</div>

