<div>
    <fieldset>
        <legend>{{ 'legends.visit' | i18next }}</legend>

        <datebox i18next="[html]labels.visitDate" id="visitDate" ng-model="model.visitDate"> </datebox>
        <br /><br />

        <hr>
        <ng-include src="'domain/fieldworker/partials/fieldworkerSelectPartial.html'"></ng-include>
        <br /><br />
        <hr>

        <ng-include src="'domain/locationHierarchy/partials/locationHierarchySelectPartial.html'"></ng-include>
        <br/> <br/>

        <hr>

        <div align="center" class="form-group">
          <div class="col-md-4">
            <button class="form-control btn btn-info" id="location-select" data-toggle="modal" data-target="#locationSelectModal"
                    ng-disabled="model.selectedHierarchy.length < 1">
              <span ng-i18next="[html]buttons.selectLocation"></span>
            </button>
          </div>
          <constbox id="currentLocation" ng-model="model.selectedLocation.name"></constbox>

        </div>
        <br/><br/>

        <hr>
        <button id="begin_visit_button"
                class="btn btn-primary pull-right"
                ng-click="model.submitVisit()"
                ng-disabled="model.visit.extId == '';
                             model.visitDate == null;
                             model.currentFieldworker == null;
                             model.selectedHierarchy.length < 1;
                             model.selectedLocation == null">
            {{ 'buttons.beginVisit' | i18next }}
            <span class="glyphicon glyphicon-arrow-right"></span>
        </button>

    </fieldset>
</div>

<hr>


<div ng-if="model.submittedVisits.length > 0">
    <!-- Display submitted visits -->
    <h4>{{ 'legends.submittedVisits' | i18next }}</h4>
    <table st-table="model.submittedVisits" class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'tables.extId' | i18next }}</th>
            <th>{{ 'tables.visitDate' | i18next }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in model.submittedVisits">
            <td id="{{row.extId}}">{{row.extId}}</td>
            <td>{{row.visitDate}}</td>
        </tr>
        </tbody>
    </table>
</div>
