<div class="container">
  <h1>Open HDS</h1>
  <form name="form" id="loginForm" class="form-horizontal" ng-submit="model.login(form.$valid)" ng-init="model.load()" novalidate>
    <fieldset>
      <legend ng-i18next="[html]legends.login"></legend>

      <textbox i18next="[html]labels.username" id="username" ng-model="model.username"></textbox>
      <passwordbox i18next="[html]labels.password" id="password" ng-model="model.password"></passwordbox>
      <submitbutton></submitbutton>
    </fieldset>
  </form>
</div>
