<form name="locationForm" class="form-horizontal" ng-submit="submitForm()" novalidate>
    <fieldset>
        <legend>Create Location</legend>

        <wrap-input name="parentLocationHierarchy.name" type="text">Parent Location</wrap-input>

        <wrap-input name="locationName" ng-model="newLocation.locationName" placeholder="LocationName" type="text" id="locationName">Location Name* </wrap-input>

        <div class="form-group" ng-class="{'has-error' : locationForm.locationType.$invalid && !locationForm.locationType.$pristine}">
            <label class="col-md-4 control-label" for="locationType">Location
                Type*</label>
            <div class="col-md-4">
                <select id="locationType" ng-model="newLocation.locationType"
                        ng-required="true" class="form-control">
                    <!--  ng-options="l.name for l in locationTypes">-->
                    <option value="RUR">Rural</option>
                    <option value="URB">Urban</option>
                </select>
					<span class="help-block" ng-show="locationForm.locationType.$invalid && !locationForm.locationType.$pristine">
						<small ng-if="locationForm.locationType.$error.required">Required</small>
					</span>
            </div>
        </div>

        <wrap-input name="latitude" type="text" ng-model="newLocation.latitude">Latitude</wrap-input>

        <wrap-input name="longitude" type="text" ng-model="newLocation.longitude">Longitude</wrap-input>

        <wrap-input name="altitude" type="text" ng-model="newLocation.altitude">Altitude</wrap-input>

        <wrap-input name="accuracy" type="text" ng-model="newLocation.accuracy">Accuracy</wrap-input>

        <wrap-input name="fieldWorkerId" type="text" ng-model="fieldWorkerID">Field Worker ID</wrap-input>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="createButton"></label>
            <div class="col-md-8">
                <input type='submit' class="btn btn-success" id='createButton' />
                <button id="cancelButton" name="cancelButton" class="btn btn-default btn-inverse" ng-click="cancelLocation()">Cancel</button>
            </div>
        </div>

    </fieldset>
</form>
