<div class="container">
    <form name="locationForm" class="form-horizontal" novalidate>
        <fieldset>
            <legend>Create Location</legend>
            <div class="form-horizontal">
                <div class="row">
                    <label class="col-md-4 control-label">{{parentLocationHierarchy}}</label>

                    <div class="col-md-4">
                        <input type="text" class="form-control input-md" value="{{parentLocationHierarchy}}"
                               ng-disabled="true"/>
                    </div>
                </div>

                <!-- Text input-->

                <div class="row">
                    <label class="col-md-4 control-label" for="locationName">Location Name*</label>

                    <div class="col-md-4">
                        <input id="locationName" name="locationName" type="text"
                               placeholder="Location Name" class="form-control input-md"
                               ng-model="data.name" ng-required="true">
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="locationType">Location Type*</label>

                    <div class="col-md-4">
                        <select id="locationType" class="form-control" ng-model="data.locationType">
                            <option value="RUR">Rural</option>
                            <option value="URB">Urban</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="latitude">Latitude*</label>

                    <div class="col-md-4">
                        <input id="latitude" name="latitude" type="text"
                               placeholder="latitude" class="form-control input-md"
                               ng-model="data.pos.coords.latitude" ng-required="true" />
                        </input>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="longitude">Longitude*</label>

                    <div class="col-md-4">
                        <input id="longitude" name="longitude" type="text"
                               placeholder="longitude" class="form-control input-md"
                               ng-model="data.pos.coords.longitude" ng-required="true" />
                        </input>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="altitude">Altitude*</label>

                    <div class="col-md-4">
                        <input id="altitude" name="altitude" type="text"
                               placeholder="altitude" class="form-control input-md"
                               ng-model="data.pos.coords.altitude" ng-required="true" />
                        </input>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="accuracy">Accuracy*</label>

                    <div class="col-md-4">
                        <input id="accuracy" name="accuracy" type="text"
                               placeholder="accuracy" class="form-control input-md"
                               ng-model="data.pos.coords.accuracy" ng-required="true" />
                        </input>
                    </div>
                </div>

                <div class="row">
                    <label class="col-md-4 control-label" for="fieldWorkerId">Field Worker ID*</label>

                    <div class="col-md-4">
                        <input id="fieldWorkerId" name="fieldWorkerId" type="text"
                               placeholder="Field Worker ID" class="form-control input-md"
                               ng-model="data.fieldWorkerId" ng-required="true" />
                        </input>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">

                        <button type="submit" class="btn btn-success">Create</button>
                        <button type="cancel" class="btn btn-warning">Cancel</button>
                    </div>
                </div>

            </div>
        </fieldset>
    </form>
</div>