<div class="col-md-4" id="leftColumn">

  <div id="entities">
    <h2>Entities</h2>
    <p>Locations</p>
    <p>Social Groups</p>
    <p>Individuals</p>
    <p>Relationships</p>
    <h2>Events</h2>
    <p>Visits</p>
    <p>In Migrations</p>
    <p>Out Migrations</p>
    <p>Deaths</p>
    <p>Pregnancy Observations</p>
    <p>Pregnancy Outcomes</p>
    <p>Pregnancy Results</p>
  </div>

</div>
<div class="col-md-4">
  <form name="form" class="form-horizontal" ng-submit="model.create()" novalidate
      ng-init="model.loadData()">
  </form>
</div>
