<div class='container'
     ng-init="model.loadData()">
  <div class="col-md-4" id="leftColumn">

    <div id="entities">

      <h2>Entities</h2>

      <p>
        <button ng-click="model.show('location');">
          Locations
        </button>
      </p>
      <p>
        <button ng-click="model.show('socialgroups');">
          Social Groups
        </button>
      </p>
      <p>
        <button ng-click="model.show('individuals');">
          Individuals
        </button>
      </p>

      <p>
        <button ng-click="model.show('relationships');">
          Relationships
        </button>
      </p>

      <h2>Events</h2>

      <p>
        <button ng-click="model.show('visits');">
          Visits
        </button>
      </p>

      <p>
        <button ng-click="model.show('inmigrations');">
          In Migrations
        </button>
      </p>

      <p>
        <button ng-click="model.show('outmigrations');">
          Out Migrations
        </button>
      </p>

      <p>
        <button ng-click="model.show('deaths');">
          Deaths
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyobservations');">
          Pregnancy Observations
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyoutcomes');">
          Pregnancy Outcomes
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyresults');">
          Pregnancy Results
        </button>
      </p>

    </div>

  </div>

  <div class='col-md-4'>
    <form>
      <div>
        <input type="text" id="search" ng-model="model.searchval"></input>
        <button id="doSearch"
                ng-click="model.search(model.searchval)">
          Search {{model.visible}}</button>
      </div>
    </form>

    <div ng-show="model.visible === 'individuals'"
         ng-include="'audit/view/individualPartial.html'">
    </div>

    <div ng-show="model.visible === 'socialgroups'"
         ng-include="'audit/view/socialGroupPartial.html'">
    </div>

    <div ng-show="model.visible === 'location'"
         ng-include="'audit/view/locationPartial.html'">
    </div>

    <div ng-show="model.visible === 'relationships'"
         ng-include="'audit/view/relationshipPartial.html'">
    </div>

    <!-- Updates -->

    <div ng-show="model.visible === 'visits'"
         ng-include="'audit/view/visitAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'inmigrations'"
         ng-include="'audit/view/inMigrationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'outmigrations'"
         ng-include="'audit/view/outMigrationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'deaths'"
         ng-include="'audit/view/deathAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyobservations'"
         ng-include="'audit/view/pregnancyObservationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyoutcomes'"
         ng-include="'audit/view/pregnancyOutcomeAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyresults'"
         ng-include="'audit/view/pregnancyResultAuditForm.html'">
    </div>
  </div>
</div>
