<div class='container'
     ng-init="model.loadData()">
  <div class="col-md-4" id="leftColumn">

    <div id="entities">

      <h2>Entities</h2>

      <p>
        <button ng-click="model.show('locations');">
          Locations
        </button>
      </p>
      <p>
        <button ng-click="model.show('socialgroups');">
          Social Groups
        </button>
      </p>
      <p>
        <button ng-click="model.show('individuals');">
          Individuals
        </button>
      </p>

      <p>
        <button ng-click="model.show('relationships');">
          Relationships
        </button>
      </p>

      <h2>Events</h2>

      <p>
        <button ng-click="model.show('visits');">
          Visits
        </button>
      </p>

      <p>
        <button ng-click="model.show('inmigrations');">
          In Migrations
        </button>
      </p>

      <p>
        <button ng-click="model.show('outmigrations');">
          Out Migrations
        </button>
      </p>

      <p>
        <button ng-click="model.show('deaths');">
          Deaths
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyobservations');">
          Pregnancy Observations
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyoutcomes');">
          Pregnancy Outcomes
        </button>
      </p>

      <p>
        <button ng-click="model.show('pregnancyresults');">
          Pregnancy Results
        </button>
      </p>

  </div>

  </div>

  <div class='col-md-4'>
    <form>
      <div>
        <input type="text" id="search"></input>
        <button id="doSearch">Search {{model.visible}}</button>
      </div>
    </form>

    <div ng-show="model.visible === 'individuals'"
         ng-include="'audit/view/individualPartial.html'">

    </div>

    <div ng-show="model.visible === 'socialgroups'"
         ng-include="'audit/view/socialGroupPartial.html'">

    </div>

    <div ng-show="model.visible === 'locations'">
      <form name="form" class="form-horizontal"
            ng-submit="model.create()"
            novalidate>
        <div class='container'>
          <div class='col-md-2'>
            <div><label>Uuid: </label> </div> <!--const-->
            <div><label>Insert By: </label> </div> <!--const-->
            <div><label>Insert Date: </label> </div> <!--const-->
            <div><label>Last Modified By: </label> </div> <!--const-->
            <div><label>Last Modified Date: </label> </div> <!--const-->
            <div><label>Collected By: </label></div> <!--const-->
            <div><label>Collection Date Time: </label> </div> <!--const-->
            <div><label>External ID: </label> </div>
            <div><label>Name: </label> </div>
            <div><label>Type: </label> </div>
            <div><label>Description: </label> </div>
          </div>
          <div class='col-md-2'>
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div> <!--const-->
            <div> <input type="text" /></div>
            <div> <input type="text" /></div>
            <div> <input type="text" /></div>
            <div> <input type="text" /></div>
            <div> <button> Save </button> </div>
          </div>
        </div>
      </form>
    </div>

    <div ng-show="model.visible === 'relationships'"
         ng-include="'audit/view/relationshipPartial.html'">

    </div>

    <div ng-show="model.visible ===  'deaths'"
         ng-include="'audit/view/deathAuditForm.html'">
    </div>

  </div>
</div>
