<h2>Social Group</h2>
<form name="form" class="form-horizontal"
      ng-submit="model.create()"
      novalidate>
  <div class='container'>
    <div class='col-md-2'>
      <div><label>Uuid: </label> </div> <!--const-->
      <div><label>Insert By: </label> </div> <!--const-->
      <div><label>Insert Date: </label> </div> <!--const-->
      <div><label>Last Modified By: </label> </div> <!--const-->
      <div><label>Last Modified Date: </label> </div> <!--const-->
      <div><label>Collected By: </label></div> <!--const-->
      <div><label>Collection Date Time: </label> </div> <!--const-->
      <div><label>External ID: </label> </div>
      <div><label>Group Name: </label> </div>
      <div><label>Group Type: </label> </div>
    </div>
    <div class='col-md-2'>
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div> <!--const-->
      <div> <input type="text" /></div>
      <div> <input type="text" /></div>
      <div> <input type="text" /></div>
      <div> <button> Save </button> </div>
    </div>
  </div>
</form>
