<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate>
    <fieldset>
        <legend>Create Pregnancy Observation</legend>
        <textbox label="Visit" id="visit" ng-model="model.visit.uuid"></textbox>
        <textbox label="Mother" id="mother" ng-model="model.mother.uuid"></textbox>
        <datebox label="Pregnancy Date" id="pregnancyDate" ng-model="model.pregnancyDate"></datebox>
        <datebox label="Expected Delivery Date" id="expectedDeliveryDate" ng-model="model.expectedDeliveryDate"></datebox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <submitbutton></submitbutton>
    </fieldset>
</form>