<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate ng-init="model.loadData()">
    <fieldset>
        <legend>Create Individual</legend>
        <textbox label="First Name" id="firstName" name="firstName" ng-model="model.firstName"></textbox>
        <textbox label="External ID" id="extId" name="extId" ng-model="model.extId"></textbox>
        <selectbox ng-model="model.gender" id="gender" name="gender" label="Gender*">
            <option ng-repeat="code in model.codes" value="{{code.codeValue}}">{{code.codeName}}</option>
        </selectbox>
        <selectbox label="Group Membership Start Type" id="startType" ng-model="model.membershipStartType">
            <option ng-repeat="code in model.membershipCodes" value="{{code.codeValue}}">{{code.codeName}}</option>
        </selectbox>
        <datebox label="Group Membership Start Date" id="startDate" ng-model="model.membershipStartDate"></datebox>
        <selectbox ng-model="model.residencyStartType" id="startType" label="Residency Start Type">
            <option ng-repeat="code in model.residencyCodes" value="{{code.codeValue}}">{{code.codeName}}</option>
        </selectbox>
        <datebox label="Residency Start Date" id="startDate" ng-model="model.residencyStartDate"></datebox>
        <checkbox label="More Individuals" id="moreIndividuals" ng-model="model.areMoreIndividuals"></checkbox>
        <constbox label="Field Worker ID" id="fieldWorkerId" name="fieldWorkerId"
                  ng-model="model.collectedByUuid"></constbox>

        <submitbutton></submitbutton>
    </fieldset>
</form>
