<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate ng-init="model.loadData()">
    <fieldset>
        <legend>Create Social Group</legend>
        <textbox label="Group Name" id="groupName" ng-model="model.groupName"></textbox>
        <textbox label="External ID" id="extId" ng-model="model.extId"></textbox>
        <selectbox label="Group Type" id="groupType" ng-model="model.groupType">
            <option ng-repeat="code in model.codes" value="{{code.codeValue}}">{{code.codeName}}</option>
        </selectbox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <submitbutton></submitbutton>
    </fieldset>
</form>
