<!-- Nested node template -->
<script type="text/ng-template" id="nodes_renderer.html">
  <div class="tree-node tree-node-content">
    <div class="row">
      <div class="input-group">
        <div class="col-sm-3" style="background: white">
          <a class="btn btn-success btn-xs pull-left"
             ng-if="node.nodes && node.nodes.length > 0" data-nodrag
             ng-click="toggle(this)">
            <span class="glyphicon"
                  ng-class="{
                            'glyphicon-menu-right': collapsed,
                            'glyphicon-menu-down': !collapsed
                            }"></span>
          </a>
        </div>

        <div ng-if="node.nodes && node.nodes.length === 0"
             class="col-lg-10" style="background: white">
          <a class="btn btn-xs btn-info"
             data-dismiss="modal"
             ng-click="model.saveLocationHierarchy(node)">{{node.title}}</a>
        </div>

        <div ng-if="node.nodes && node.nodes.length > 0"
             class="col-lg-10" style="background: white">
          {{node.title}}
        </div>
      </div>
    </div>

    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
      <li ng-repeat="node in node.nodes" ui-tree-node data-collapsed="true" ng-include="'nodes_renderer.html'">
      </li>
    </ol>
</script>

<div class="modal fade" id="hierarchyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title">{{ 'legends.hierarchySelect' | i18next }}</h4>
      </div>
      <div class="modal-body">
        <div ui-tree id="tree-root" data-nodrop-enabled="true">
          <ol ui-tree-nodes ng-model="model.locationHierarchies">
            <li ng-repeat="node in model.locationHierarchies" ui-tree-node ng-include="'nodes_renderer.html'"></li>
          </ol>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"
                id="saveHierarchy"
                ng-click="model.saveLocationHierarchy()">{{ 'buttons.close' | i18next }}</button>
      </div>
    </div>
  </div>
</div>
