<!-- fieldworker modal -->
<div class="modal fade" id="fieldworkerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Fieldworker Select</h4>
      </div>
      <div class="modal-body">
        <select id="fieldWorkerSelect" ng-model="model.currentFieldWorkerUuid">
          <option ng-repeat="fw in model.allFieldWorkers"
                  value="{{fw.uuid}}" title="fw.id">
            {{fw.firstName}} {{fw.lastName}}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
                ng-click="model.saveFieldWorker()">Done</button>
      </div>
    </div>
  </div>
</div>
