<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>




  <!-- Text input-->
  <!--
            <div class="form-group" ng-class="{'has-error' : locationForm.locationName.$invalid && !locationForm.locationName.$pristine}">
              <label class="col-md-4 control-label" for="locationName">Location
            Name*</label>
              <div class="col-md-4">
            <input id="locationName" name="locationName" type="text"
                   placeholder="Location Name" class="form-control input-md"
                   ng-model="newLocation.locationName" ng-required="true">
            <span class="help-block" ng-show="locationForm.locationName.$invalid && !locationForm.locationName.$pristine">
              <small ng-if="locationForm.locationName.$error.required">Required</small>
            </span>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : locationForm.locationType.$invalid && !locationForm.locationType.$pristine}">
              <label class="col-md-4 control-label" for="locationType">Location
            Type*</label>
              <div class="col-md-4">
            <select id="locationType" ng-model="newLocation.locationType"
                ng-required="true" class="form-control">
  -->
  <!--  ng-options="l.name for l in locationTypes">-->
  <!--
              <option value="RUR">Rural</option>
              <option value="URB">Urban</option>
            </select>
            <span class="help-block" ng-show="locationForm.locationType.$invalid && !locationForm.locationType.$pristine">
              <small ng-if="locationForm.locationType.$error.required">Required</small>
            </span>
              </div>
            </div>

            <div class="form-group" ng-class="{'has-error' : locationForm.latitude.$invalid && !locationForm.latitude.$pristine}">
              <label  class="col-md-4 control-label" for="latitude">Latitude*</label>
              <div class="col-md-4">
            <input type="text" id="latitude" name="latitude" placeholder="Latitude" class="form-control input-md" ng-model="newLocation.latitude" ng-required="true" ng-pattern="/^(\+|-)?(\d\.\d{1,6}|[1-8]\d\.\d{1,6}|90\.0{1,6})$/"/>
            <span class="help-block" ng-show="locationForm.latitude.$invalid && !locationForm.latitude.$pristine">
              <small ng-if="locationForm.latitude.$error.required">Required</small>
              <small ng-if="locationForm.latitude.$error.pattern">Requires decimal degree format (DDD) to 6 decimal places</small>
            </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : locationForm.longitude.$invalid && !locationForm.longitude.$pristine}">
              <label  class="col-md-4 control-label" for="longitude">Longitude*</label>
              <div class="col-md-4">
            <input type="text" id="longitude" name="longitude" placeholder="Longitude" class="form-control input-md" ng-model="newLocation.longitude" ng-required="true" ng-pattern="/^(\+|-)?(\d\.\d{1,6}|[1-9]\d\.\d{1,6}|1[1-7]\d\.\d{1,6}|180\.0{1,6})$/"/>
            <span class="help-block" ng-show="locationForm.longitude.$invalid && !locationForm.longitude.$pristine">
              <small ng-if="locationForm.longitude.$error.required">Required</small>
              <small ng-if="locationForm.longitude.$error.pattern">Requires decimal degree format (DDD) to 6 decimal places</small>
            </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : locationForm.accuracy.$invalid && !locationForm.accuracy.$pristine}">
              <label  class="col-md-4 control-label" for="accuracy">Accuracy*</label>
              <div class="col-md-4">
            <input type="text" id="accuracy" name="accuracy" placeholder="Accuracy" class="form-control input-md" ng-model="newLocation.accuracy" ng-required="true"/>
            <span class="help-block" ng-show="locationForm.accuracy.$invalid && !locationForm.accuracy.$pristine">
              <small ng-if="locationForm.accuracy.$error.required">Required</small>
            </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : locationForm.altitude.$invalid && !locationForm.accuracy.$pristine}">
              <label  class="col-md-4 control-label" for="altitude">Altitude*</label>
              <div class="col-md-4">
            <input type="text" id="altitude" name="altitude" placeholder="Altitude" class="form-control input-md" ng-model="newLocation.altitude" ng-required="true"/>
            <span class="alert alert-error" ng-show="locationForm.altitude.$dirty && locationForm.altitude.$invalid">
              <small ng-if="locationForm.altitude.$error.required">Required</small>
            </span>
              </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : locationForm.collectedBy.$invalid && !locationForm.collectedBy.$pristine}">
              <label class="col-md-4 control-label" for="fieldWorkerId">Field Worker ID*</label>
              <div class="col-md-4">
            <input type="text" id="fieldWorkerId" name="fieldWorkerId" placeholder="Field Worker ID" class="form-control input-md" ng-model="newLocation.collectedBy.extId" ng-required="true"/>
            <span class="alert alert-error" ng-show="locationForm.collectedBy.$dirty && locationForm.collectedBy.$invalid">
              <small ng-if="locationForm.collectedBy.extId.$error.required">Required</small>
            </span>
              </div>
            </div>
  -->
  <!-- Button (Double) -->
  <!--
            <div class="form-group">
              <label class="col-md-4 control-label" for="createButton"></label>
              <div class="col-md-8">
            <button id="createButton" name="createButton" class="btn btn-default btn-inverse" ng-click="createLocation()" ng-disabled="!locationForm.$valid">Create</button>
            <button id="cancelButton" name="cancelButton" class="btn btn-default btn-inverse" ng-click="cancelLocation()">Cancel</button>
              </div>
            </div>
  -->
  </fieldset>
  </form>

  </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
