<form name="form" class="form-horizontal" ng-submit="model.create()" novalidate ng-init="model.loadData()">
    <fieldset>
        <legend>Create Relationship</legend>
        <textbox label="Individual A" id="individualA" ng-model="model.headOfHousehold"></textbox>
        <textbox label="Individual B" id="individualB" ng-model="model.individualB"></textbox>
        <selectbox ng-model="model.relationshipType" id="relationshipType" label="Relationship Type">
            <option ng-repeat="code in model.codes" value="{{code.codeValue}}">{{code.codeName}}</option>

        </selectbox>
        <datebox label="Start Date" id="startDate" ng-model="model.startDate"></datebox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <div ng-if="form.$valid">
          <submitbutton></submitbutton>
        </div>
    </fieldset>
    {{model}}

</form>
