<form name="form" class="form-horizontal" ng-submit="model.create(form.$valid)" novalidate>
    <fieldset>
        <legend>Create Location</legend>
        <textbox label="Location Name" id="locationName" ng-model="model.name"></textbox>
        <textbox label="External ID" id="extId" ng-model="model.extId"></textbox>
        <selectbox label="Location Type" id="locationType" ng-model="model.type">
            <option ng-repeat="code in model.codes" value="{{code.codeValue}}">{{code.codeName}}</option>

        </selectbox>
        <constbox label="Field Worker ID" id="fieldWorkerId" ng-model="model.collectedByUuid"></constbox>
        <submitbutton></submitbutton>
    </fieldset>
</form>
