<!-- Edit Visit modal -->
<div class="modal fade" id="relatedVisitModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'labels.relatedEntities' | i18next }}s</h4>
            </div>
            <div class="modal-body">



                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" ng-click="model.toggleVisitRelated('events')">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" ng-i18next="[html]labels.events">
                                    {{labels.events}}
                                </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" ng-if="model.related['visit'].events.show">
                            <div class="panel-body">
                                <div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" ng-if="model.related['visit'].events.show">
                                    <div class="panel-body">

                                        <div ng-if="model.related['visit'].events.loadMsg">
                                            <h4>{{ 'labels.loading' | i18next }}...</h4>
                                        </div>

                                        <div ng-if="!model.related['visit'].events.loadMsg">




                                            <!-- Display memberships -->
                                            <table st-safe-src="model.related['visit'].events.data" st-table="model.related['visit'].events.displayCollection" class="table table-striped">
                                                <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>{{ 'tables.type' | i18next }}</th>
                                                    <th>{{ 'tables.firstName' | i18next }}</th>
                                                    <th>{{ 'tables.lastName' | i18next }}/th>

                                                </tr>

                                                <tr>
                                                    <th></th>
                                                    <th>
                                                        <input st-search="eventType" class="input-sm form-control" type="search"/>
                                                    </th>
                                                    <th>
                                                        <input st-search="firstName" class="input-sm form-control" type="search"/>
                                                    </th>
                                                    <th>
                                                        <input st-search="lastName" class="input-sm form-control" type="search"/>
                                                    </th>


                                                </tr>


                                                </thead>
                                                <tbody>
                                                <!-- inMigrations -->
                                                <tr ng-repeat="row in model.related['visit'].events.displayCollection[0].inMigrations">
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                                                <li class="dropdown-header"> {{ 'labels.actions' | i18next }}</li>
                                                                <li ng-click="model.edit(row, 'inMigration')" data-dismiss="modal"><a >{{ 'buttons.edit' | i18next }}</a></li>
                                                                <li ng-click="model.deleteEntity(row, 'inMigration')"><a>{{ 'labels.delete' | i18next }}</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="dropdown-header">{{ 'buttons.view' | i18next }}</li>
                                                                <li ng-click="model.viewJson(row)" data-dismiss="modal"><a>{{ 'labels.rawData' | i18next }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>{{ 'labels.inMigration' | i18next }}</td>
                                                    <td>{{row.individual.firstName}}</td>
                                                    <td>{{row.individual.lastName}}</td>
                                                </tr>
                                                <!-- outMigrations -->
                                                <tr ng-repeat="row in model.related['visit'].events.displayCollection[0].outMigrations">
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                                                <li class="dropdown-header"> {{ 'labels.actions' | i18next }}</li>
                                                                <li ng-click="model.edit(row, 'outMigration')" data-dismiss="modal"><a >{{ 'buttons.edit' | i18next }}</a></li>
                                                                <li ng-click="model.deleteEntity(row, 'outMigration')"><a>{{ 'labels.delete' | i18next }}</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="dropdown-header">{{ 'buttons.view' | i18next }}</li>
                                                                <li ng-click="model.viewJson(row)"><a>{{ 'labels.rawData' | i18next }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>{{ 'labels.outMigration' | i18next }}</td>
                                                    <td>{{row.individual.firstName}}</td>
                                                    <td>{{row.individual.lastName}}</td>
                                                </tr>
                                                <!-- deaths -->
                                                <tr ng-repeat="row in model.related['visit'].events.displayCollection[0].deaths">
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                                                <li class="dropdown-header"> {{ 'labels.actions' | i18next }}</li>
                                                                <li ng-click="model.edit(row, 'death')" data-dismiss="modal"><a >{{ 'buttons.edit' | i18next }}</a></li>
                                                                <li ng-click="model.deleteEntity(row, 'death')"><a>{{ 'labels.delete' | i18next }}</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="dropdown-header">{{ 'buttons.view' | i18next }}</li>
                                                                <li ng-click="model.viewJson(row)"><a>{{ 'labels.rawData' | i18next }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>{{ 'labels.death' | i18next }}</td>
                                                    <td>{{row.individual.firstName}}</td>
                                                    <td>{{row.individual.lastName}}</td>
                                                </tr>

                                                <!-- pregnancy observation -->
                                                <tr ng-repeat="row in model.related['visit'].events.displayCollection[0].pregnancyObservations">
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                                                <li class="dropdown-header"> {{ 'labels.actions' | i18next }}</li>
                                                                <li ng-click="model.edit(row, 'pregnancyObservation')" data-dismiss="modal"><a >{{ 'buttons.edit' | i18next }}</a></li>
                                                                <li ng-click="model.deleteEntity(row, 'pregnancyObservation')"><a>{{ 'labels.delete' | i18next }}</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="dropdown-header">{{ 'buttons.view' | i18next }}</li>
                                                                <li ng-click="model.viewJson(row)"><a>{{ 'labels.rawData' | i18next }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>{{ 'labels.pregnancyObservation' | i18next }}</td>
                                                    <td>{{row.mother.firstName}}</td>
                                                    <td>{{row.mother.lastName}}</td>
                                                </tr>

                                                <!-- pregnancy outcome -->
                                                <tr ng-repeat="row in model.related['visit'].events.displayCollection[0].pregnancyOutcomes">
                                                    <td>
                                                        <div class="dropdown">
                                                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span class="glyphicon glyphicon-chevron-down"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                                                                <li class="dropdown-header"> {{ 'labels.actions' | i18next }}</li>
                                                                <li ng-click="model.edit(row, 'pregnancyOutcome')" data-dismiss="modal"><a >{{ 'buttons.edit' | i18next }}</a></li>
                                                                <li ng-click="model.deleteEntity(row, 'pregnancyOutcome')"><a>{{ 'labels.delete' | i18next }}</a></li>
                                                                <li role="separator" class="divider"></li>
                                                                <li class="dropdown-header">{{ 'buttons.view' | i18next }}</li>
                                                                <li ng-click="model.viewJson(row)"><a>{{ 'labels.rawData' | i18next }}</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td>{{ 'labels.pregnancyOutcome' | i18next }}</td>
                                                    <td>{{row.mother.firstName}}</td>
                                                    <td>{{row.mother.lastName}}</td>
                                                </tr>


                                                </tbody>
                                            </table>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                            Cancel
                        </button>


                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                                aria-label="Close">
                            Ok
                        </button>



                    </div>
                </div>
            </div>
        </div>
