<fieldset>
  <legend>Create New Individuals</legend>
  <textbox label="First Name" id="firstName" name="firstName"
           ng-model="model.firstName"></textbox>
  <br /><br />
  <textbox label="External ID" id="extId" name="extId"
           ng-model="model.extId"></textbox>
  <br /><br />
  <selectbox ng-model="model.gender" id="gender" name="gender"
             label="Gender*">
    <option ng-if="code.codeGroup === 'gender'"
            ng-repeat="code in model.codes"
            value="{{code.codeValue}}">{{code.codeName}}
    </option>
  </selectbox>
  <br /><br />
  <datebox label="Date Of Birth" id="dateOfBirth"
           ng-model="model.individual.dateOfBirth"></datebox>
  <br /><br />
  <selectbox label="Group Membership Start Type"
             id="membershipStartType"
             ng-model="model.individual.membershipStartType">
    <option ng-if="code.codeGroup === 'membershipType'"
            ng-repeat="code in model.codes"
            value="{{code.codeValue}}">{{code.codeName}}
    </option>
  </selectbox>
  <br /><br />
  <datebox label="Group Membership Start Date"
           id="membershipStartDate"
           ng-model="model.membershipStartDate"></datebox>
  <br /><br />
  <selectbox ng-model="model.residencyStartType"
             id="residencyStartType" label="Residency Start Type">
    <option ng-if="code.codeGroup === 'membershipType'"
            ng-repeat="code in model.codes"
            value="{{code.codeValue}}">{{code.codeName}}
    </option>
  </selectbox>
  <br /><br />
  <datebox label="Residency Start Date" id="residencyStartDate"
           ng-model="model.residencyStartDate"></datebox>
  <br /><br />
  <button class="btn" id="moreIndividuals">More Individuals</button>
</fieldset>
