
<!-- Edit Social Group modal -->
<div class="modal fade" id="editSocialGroupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Edit Social Group</h4>
            </div>
            <div class="modal-body">


                <fieldset>
                    <constbox i18next="[html]labels.uuid" id="uuid" ng-model="model.tempSocial.uuid"></constbox>
                    <br/><br/>

                    <constbox i18next="[html]labels.externalId" id="extId" ng-model="model.tempSocial.extId"></constbox>
                    <br/><br/>

                    <textbox i18next="[html]labels.groupName" id="name" ng-model="model.tempSocial.groupName"></textbox>
                    <br/><br/>

                    <selectbox i18next="[html]labels.groupType"
                               id="type"
                               ng-model="model.tempSocial.groupType">
                        <option ng-if="code.codeGroup === 'socialGroupType'"
                                ng-repeat="code in model.codes"
                                value="{{code.codeValue}}">{{code.codeName}}
                        </option>
                    </selectbox>
                    <br/><br/>


                </fieldset>




            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>


                <button class="btn" ng-click="model.setTemp('tempLoc')">
                    {{ 'buttons.reset' | i18next }}
                </button>

                <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        aria-label="Close" ng-click="model.submitEdited('socialGroup')">
                    {{ 'buttons.submit' | i18next }}
                </button>



            </div>
        </div>
    </div>
</div>
