<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a role="tab" style="border: 1px solid white;" id="lookupTab" data-toggle="tab" data-target="#lookup">
            Lookup External ID
        </a>
    </li>
    <li role="presentation">
        <a role="tab" style="border: 1px solid white;" id="hierarchyTab" data-toggle="tab" data-target="#byHierarchy">
            Search By Hierarchy
        </a>
    </li>

    <li role="presentation">
        <a role="tab" style="border: 1px solid white;" id="fieldWorkerTab" data-toggle="tab" data-target="#byFieldWorker">
            Search By Field Worker
        </a>
    </li>

</li>
</ul>
