<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a role="tab" id="lookupTab" data-toggle="tab" data-target="#lookup">
            Lookup
        </a>
    </li>
    <li role="presentation">
        <a role="tab" id="hierarchyTab" data-toggle="tab" data-target="#byHierarchy">
            By Hierarchy
        </a>
    </li>
    <li role="presentation">
    <a role="tab" id="searchTab" data-toggle="tab" data-target="#search">
        Search
    </a>
</li>
</ul>
