<div>
    <br>
    <fieldset>

        <br /><br /> <!-- todo css padding -->
        <div row>
            <textbox label="External ID" id="identifier" ng-model="model.searchExtId"></textbox>
            <button class="btn btn-danger" ng-click="model.searchExtId = null"
                    ng-disabled="model.searchExtId == null">clear

            </button>
        </div>
        <br /><br /> <!-- todo css padding -->
    </fieldset>

    <button id="searchExtid"
            class="btn btn-primary pull-right"
            ng-click="model.lookupEntity()"
            ng-disabled="model.entityType == null;
                         model.searchExtId == null">
        Search
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <br/><br/>

</div>


