<div>

    <br/>

    <!-- Locations -->
    <div ng-if="model.queryResult.displayCollection.length > 0 &&
                model.entityType == 'location' &&
                model.queryResult.entityType === model.entityType"
                style="border:1px solid black;padding: 20px">

        <button class="btn btn-danger pull-right"
                ng-click="model.clearResults()">
            Clear Results
        </button>




        <!-- Display locations -->
        <h4>Locations:</h4>
        <table st-safe-src="model.queryResult.data" st-table="model.queryResult.displayCollection" class="table table-striped">

            <thead>
            <tr>
                <th></th>
                <th>extId</th>
                <th>name</th>
                <th>type</th>
            </tr>

            <tr>
                <th></th>
                <th>
                    <input st-search="extId" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="name" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="type" class="input-sm form-control" type="search"/>
                </th>

            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="row in model.queryResult.displayCollection">
                <td>
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                        <li class="dropdown-header">Actions</li>
                        <li ng-click="model.editLocation(row)"><a >Edit</a></li>
                        <li><a href="#">Delete</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">View</li>
                        <li ng-click="model.viewRelatedIndividual(row)"><a>Related Entities</a></li>
                        <li ng-click="model.viewJson(row)"><a>Raw Data</a></li>
                    </ul>
                  </div>

                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">Actions</li>
                            <li ng-click="model.editLocation(row)"><a >Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">View</li>
                            <li ng-click="model.viewRelatedLocation(row)"><a>Related Entities</a></li>
                            <li ng-click="model.viewJson(row)"><a>Raw Data</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{row.extId}}</td>
                <td>{{row.name}}</td>
                <td>{{row.type}}</td>

            </tr>

            </tbody>
        </table>
        <hr>
    </div>

    <!-- Individuals -->
    <div ng-if="model.queryResult.displayCollection.length > 0 &&
                model.entityType == 'individual' &&
                model.queryResult.entityType === model.entityType"
                style="border:1px solid black;padding: 20px">

        <button class="btn btn-danger pull-right"
                ng-click="model.clearResults()">
            Clear Results
        </button>



        <!-- Display individuals -->
        <h4>Individuals:</h4>
        <table st-safe-src="model.queryResult.data" st-table="model.queryResult.displayCollection" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>extId</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>gender</th>
            </tr>

            <tr>
                <th></th>
                <th>
                    <input st-search="extId" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="firstName" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="lastName" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="gender" class="input-sm form-control" type="search"/>
                </th>


            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="row in model.queryResult.displayCollection">
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">Actions</li>
                            <li ng-click="model.editIndividual(row)"><a >Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">View</li>
                            <li ng-click="model.viewRelatedIndividual(row)"><a>Related Entities</a></li>
                            <li ng-click="model.viewJson(row)"><a>Raw Data</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{row.extId}}</td>
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.gender}}</td>


            </tr>

            </tbody>
        </table>
        <hr>

    </div>




    <!-- Social Groups -->
    <div ng-if="model.queryResult.displayCollection.length > 0 &&
                model.entityType == 'socialGroup' &&
                model.queryResult.entityType === model.entityType"
                style="border:1px solid black;padding: 20px">

        <button class="btn btn-danger pull-right"
                ng-click="model.clearResults()">
            Clear Results
        </button>

        <!-- Display Social Groups -->
        <h4>Social Groups:</h4>
        <table st-safe-src="model.queryResult.data" st-table="model.queryResult.displayCollection" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>extId</th>
                <th>groupName</th>
                <th>groupType</th>
            </tr>

            <tr>
                <th></th>
                <th>
                    <input st-search="extId" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="groupName" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="groupType" class="input-sm form-control" type="search"/>
                </th>

            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="row in model.queryResult.displayCollection">
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">Actions</li>
                            <li ng-click="model.editSocialGroup(row)"><a >Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">View</li>
                            <li ng-click="model.viewRelatedSocialGroup(row)"><a>Related Entities</a></li>
                            <li ng-click="model.viewJson(row)"><a>Raw Data</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{row.extId}}</td>
                <td>{{row.groupName}}</td>
                <td>{{row.groupType}}</td>
            </tr>

            </tbody>
        </table>
        <hr>

    </div>



    <!-- Visits -->
    <div ng-if="model.queryResult.displayCollection.length > 0 &&
                model.entityType == 'visit' &&
                model.queryResult.entityType === model.entityType"
         style="border:1px solid black;padding: 20px">

        <button class="btn btn-danger pull-right"
                ng-click="model.clearResults()">
            Clear Results
        </button>

        <!-- Display Visits -->
        <h4>Visits:</h4>
        <table st-safe-src="model.queryResult.data" st-table="model.queryResult.displayCollection" class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>extId</th>
                <th>collectionDateTime</th>

            </tr>

            <tr>
                <th></th>
                <th>
                    <input st-search="extId" class="input-sm form-control" type="search"/>
                </th>
                <th>
                    <input st-search="collectionDateTime" class="input-sm form-control" type="search"/>
                </th>

            </tr>


            </thead>
            <tbody>
            <tr ng-repeat="row in model.queryResult.displayCollection">
                <td>
                    <div class="dropdown">

                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                            <li class="dropdown-header">Actions</li>
                            <li ng-click="model.editVisit(row)"><a >Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">View</li>
                            <li ng-click="model.viewRelatedVisit(row)"><a>Related Entities</a></li>
                            <li ng-click="model.viewJson(row)"><a>Raw Data</a></li>
                        </ul>
                    </div>
                </td>
                <td>{{row.extId}}</td>
                <td>{{row.collectionDateTime}}</td>
            </tr>

            </tbody>
        </table>
        <hr>

    </div>




</div>