<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a role="tab" style="border: 1px solid white;" id="lookupTab" data-toggle="tab" data-target="#lookup" ng-i18next="[html]labels.lookup">
            {{labels.lookup}}
        </a>
    </li>
    <li role="presentation">
        <a role="tab" style="border: 1px solid white;" id="hierarchyTab" data-toggle="tab" data-target="#byHierarchy" ng-i18next="[html]labels.locationHierarchy">
            {{labels.locationHierarchy}}
        </a>
    </li>

    <li role="presentation">
        <a role="tab" style="border: 1px solid white;" id="fieldWorkerTab" data-toggle="tab" data-target="#byFieldWorker" ng-i18next="[html]labels.fieldWorker">
           {{labels.fieldWorker}}
        </a>
    </li>


    <li role="presentation">
        <a role="tab" style="border: 1px solid white;" id="searchTab" data-toggle="tab" data-target="#search" ng-i18next="[html]labels.search">
            {{labels.search}}
        </a>
    </li>

</li>
</ul>
