<header>
    <h1>OpenHDS {{selectedLocation}}</h1>
</header>

<!-- Left Column -->
<div class="container" ng-init="model.init()">
    <div class="row">
        <div class="col-md-2 no-float">
            <ng-include src="'core/partials/navigationTabs.html'"></ng-include>
            <hr>



        </div>

        <!-- Main content -->
        <div class="col-md-10 no-float">
            <div>
                <ng-include src="'audit/view/auditTabBarPartial.html'"></ng-include>


                <div class="tab-content">

                    <!-- Lookup -->
                    <div role="tabpanel" class="tab-pane fade in active" id="lookup">
                        <ng-include src="'audit/view/auditLookup.html'"></ng-include>

                    </div>

                    <!-- Search -->
                    <div role="tabpanel" class="tab-pane fade" id="byHierarchy">
                        <ng-include src="'audit/view/searchByHierarchy.html'"></ng-include>
                    </div>

                 



                </div>
            </div>



        </div>


    </div>
</div>


<ng-include src="'domain/locationHierarchy/partials/locationHierarchyModal.html'"></ng-include>
<ng-include src="'core/partials/entityJsonModal.html'"></ng-include>

<ng-include src="'domain/individual/partials/individualEditModal.html'"></ng-include>
<ng-include src="'domain/location/partials/locationEditModal.html'"></ng-include>
<ng-include src="'domain/socialGroup/partials/socialGroupEditModal.html'"></ng-include>