<header>
    <h1>OpenHDS {{selectedLocation}}</h1>
</header>

<!-- Left Column -->
<div class="container" ng-init="model.init()">
    <div class="row">
        <div class="col-md-2 no-float">
            <ng-include src="'core/partials/navigationTabs.html'"></ng-include>
            <hr>



        </div>

        <!-- Main content -->
        <div class="col-md-10 no-float">

            <legend>Entity Audit</legend>



            <!-- TODO: Need styling. Selectbox wouldn't work with ng-change" -->
            <div style="width: 400px;
                        padding: 20px;
                        font-size: 16px;
                        line-height: 2;">
                <label for="entityTypeSelect">Entity Type:</label>
                <select id="entityTypeSelect"
                            ng-model="model.entityType"
                            ng-change="model.currentSearch = {}"
                            style="width:200px;
                                   height:30px;">
                            <option ng-repeat="ent in model.entityList" value="{{ent.code}}">
                            {{ent.name}}
                        </option>
                    </select>





            </div>







            <br /><br/>
            <br/><br/><br/>


            <div style="border:1px solid black;">
                <ng-include src="'audit/view/auditTabBarPartial.html'"></ng-include>


                <div class="tab-content"
                     style="padding-right: 20px;padding-bottom: 20px;padding-left:20px;">

                    <!-- Lookup -->
                    <div role="tabpanel" class="tab-pane fade in active" id="lookup">
                        <ng-include src="'audit/view/auditLookup.html'"></ng-include>

                    </div>

                    <!-- Search By Hierarchy-->
                    <div role="tabpanel" class="tab-pane fade" id="byHierarchy">
                        <ng-include src="'audit/view/searchByHierarchy.html'"></ng-include>
                    </div>

                    <!-- Search By Field Worker-->
                    <div role="tabpanel" class="tab-pane fade" id="byFieldWorker">
                        <ng-include src="'audit/view/searchByFieldWorker.html'"></ng-include>
                    </div>

                    <!-- Search By field-->
                    <div role="tabpanel" class="tab-pane fade" id="search">
                        <ng-include src="'audit/view/search.html'"></ng-include>
                    </div>

                </div>

            </div>

            <!-- Display results of search -->
            <ng-include src="'audit/view/auditDisplayTable.html'"></ng-include>



        </div>


    </div>
</div>


<ng-include src="'domain/locationHierarchy/partials/locationHierarchyModal.html'"></ng-include>
<ng-include src="'domain/fieldworker/partials/fieldWorkerSelectModal.html'"></ng-include>

<ng-include src="'core/partials/entityJsonModal.html'"></ng-include>

<ng-include src="'domain/individual/partials/individualEditModal.html'"></ng-include>
<ng-include src="'domain/location/partials/locationEditModal.html'"></ng-include>
<ng-include src="'domain/socialGroup/partials/socialGroupEditModal.html'"></ng-include>

<ng-include src="'domain/individual/partials/individualRelatedModal.html'"></ng-include>
