<div>
    <h4>Search By Hierarchy</h4>
    <hr>
    <br>

    <fieldset>
        <div ng-hide="model.currentHierarchy == null">
            <constbox label="Location Hierarchy" ng-model="model.currentHierarchy.extId"></constbox>
            <button class="btn btn-danger" ng-click="model.currentHierarchy = null">Clear</button>
        </div>
        <div ng-hide="model.currentHierarchy != null">
            <label for="hierarchy-select">Location Hierarchy: </label>

            <div align="center">
                <button class="btn btn-default" id="hierarchy-select" data-toggle="modal" data-target="#hierarchyModal">
                    Select Hierarchy
                </button>
            </div>
        </div>


        <br /><br/>
        <selectbox label="Entity Type" id="entityType" ng-model="model.entityTypeBH">
            <option ng-repeat="ent in model.entityList"
                    value="{{ent.code}}">{{ent.name}}</option>
        </selectbox>
        <br/><br/>

    </fieldset>

    <button id="searchHierarchy"
            class="btn btn-primary pull-right"
            ng-click="model.searchByHierarchy()">
        Search
        <span class="glyphicon glyphicon-arrow-right"></span>
    </button>
    <br/><br/>


    <hr>

    <div>
        <div ng-if="model.locationDisplayCollection.length > 0">
            <!-- Display locations -->
            <h4>Locations:</h4>
            <table st-safe-src="model.allLocations" st-table="model.locationDisplayCollection" class="table table-striped">


                <thead>
                <tr>
                    <th>extId</th>
                    <th>name</th>
                    <th>type</th>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <th>
                        <input st-search="extId" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="name" class="input-sm form-control" type="search"/>
                    </th>
                    <th>
                        <input st-search="type" class="input-sm form-control" type="search"/>
                    </th>

                </tr>


                </thead>
                <tbody>
                <tr ng-repeat="row in model.locationDisplayCollection">
                    <td>{{row.extId}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.type}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="model.viewJson(row)">
                           json
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning" ng-click="model.editLocation(row)">
                            Edit
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
            <hr>

        </div>
    </div>

</div>




