<div>
    <br/><br/>


    <fieldset>
        <div ng-hide="model.currentFieldWorker == null">
            <constbox label="{{labels.fieldWorker}}" ng-i18next="[html]labels.fieldWorker" ng-model="model.currentFieldWorker.id"></constbox>
            <button class="btn btn-danger" ng-click="model.currentFieldWorker = null">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div ng-hide="model.currentFieldWorker != null">
            <label for="hierarchy-select" ng-i18next="[html]labels.fieldWorker">{{labels.fieldWorker}}: </label>

            <div align="center">
                <button class="btn btn-default" id="hierarchy-select"
                        ng-i18next="[html]labels.select"
                        data-toggle="modal"
                        data-target="#fieldworkerModal">
                    {{labels.select}}
                </button>
            </div>
        </div>


        <br/>



    </fieldset>

    <button id="searchHierarchy"
            class="btn btn-primary pull-right"
            ng-click="model.searchByFieldWorker()"
            ng-i18next="[html]labels.search"
            ng-disabled="model.currentFieldWorker == null">
        <div>{{labels.search}}</div>

        <span class="glyphicon glyphicon-search"></span>
    </button>
    <br/><br/>





</div>



