<div>

    <br/><br/>
    <!-- alert to inform user why actions are disabled -->
    <div class="alert alert-danger" role="alert"
            ng-if="model.entityType != null &&
                   model.entityType != 'location' &&
                   model.entityType != 'individual'">
        Search by hierarchy is only available for locations and individuals
    </div>

    <fieldset>
        <div ng-hide="model.searchHierarchy == null">
            <constbox label="Location Hierarchy" ng-model="model.searchHierarchy.extId"></constbox>
            <button class="btn btn-danger" ng-click="model.searchHierarchy = null">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <div ng-hide="model.searchHierarchy != null">
            <label for="hierarchy-select">Location Hierarchy: </label>

            <div align="center">
                <button class="btn btn-default" id="hierarchy-select"
                        data-toggle="modal"
                        data-target="#hierarchyModal"
                        ng-disabled="model.entityType == null ||
                                    model.entityType != 'location' &&
                                    model.entityType != 'individual'">
                    Select Hierarchy
                </button>
            </div>
        </div>


        <br/>


    </fieldset>

    <button id="searchHierarchyGo"
            class="btn btn-primary pull-right"
            ng-click="model.searchByHierarchy()"
            ng-disabled="model.searchHierarchy == null">
        Search
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <br/><br/>


</div>




