<div>
    <br/><br/>

    <ng-include ng-if="model.entityType === 'individual'" src="'domain/individual/partials/individualSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'location'" src="'domain/location/partials/locationSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'socialGroup'" src="'domain/socialGroup/partials/socialGroupSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'visit'" src="'domain/visit/partials/visitSearch.html'"></ng-include>



    <button id="searchHierarchy"
            class="btn btn-primary pull-right"
            ng-i18next="[html]labels.search"
            ng-click="model.searchByFields()">
        {{labels.search}}
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <button class="btn btn-danger pull-right"
            ng-i18next="[html]labels.clear"
            ng-click="model.currentSearch = null">
        {{labels.clear}}
    </button>
    <br/><br/>


</div>

