<div>
    <br/><br/>

    <ng-include ng-if="model.entityType === 'individual'" src="'domain/individual/partials/individualSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'location'" src="'domain/location/partials/locationSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'socialGroup'" src="'domain/socialGroup/partials/socialGroupSearch.html'"></ng-include>

    <ng-include ng-if="model.entityType === 'fieldWorker'" src="'domain/fieldworker/partials/fieldWorkerSearch.html'"></ng-include>



    <button id="searchHierarchy"
            class="btn btn-primary pull-right"
            ng-click="model.searchByFields()">
        Search
        <span class="glyphicon glyphicon-search"></span>
    </button>
    <button class="btn btn-danger pull-right"
            ng-click="model.currentSearch = null">
        reset
    </button>
    <br/><br/>



</div>

