<!--death create modal -->
<div class="modal fade" id="deathCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" ng-i18next="[html]legends.deaths"></h4>
            </div>
            <div class="modal-body">

                <fieldset>
                  <br/><br/>
                  <constbox i18next="[html]labels.individual" id="currentIndividual" ng-model="model.currentIndividual.extId"></constbox>
                  <br/><br/>
                  <textbox i18next="[html]labels.placeOfDeath" id="deathPlace" ng-model="model.currentDeath.place" disabled></textbox>
                  <br /><br /> <!-- todo css padding -->
                  <textbox i18next="[html]labels.cause" id="deathCause" ng-model="model.currentDeath.cause"></textbox>
                  <br /><br />
                  <datebox i18next="[html]labels.dateOfDeath" id="deathDate" ng-model="model.currentDeath.date"> </datebox>
                  <br /><br />
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createInMigration"
                        ng-click="model.submitDeath(model.currentDeath)">
                    {{ 'buttons.create' | i18next }}
                </button>

            </div>
        </div>
    </div>
</div>
