<!--death create modal -->
<div class="modal fade" id="deathCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Create New Death Record</h4>
            </div>
            <div class="modal-body">



                <fieldset>
                    <br/><br/>
                    <div>
                        <label for="currentIndividual">Individual: </label>
                            <input type="text" id="currentIndividual" ng-model="model.currentIndividual" disabled />
                    </div>


                    <br/><br/>


                    <textbox label="Place of death" id="deathPlace" ng-model="model.currentDeath.place" disabled></textbox>
                    <br /><br /> <!-- todo css padding -->
                    <textbox label="Cause" id="deathCause" ng-model="model.currentDeath.cause"></textbox>
                    <br /><br />
                    <datebox label="Date of death" id="deathDate" ng-model="model.currentDeath.date"> </datebox>
                    <br /><br />



                </fieldset>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    Cancel
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createInMigration"
                        ng-click="modal.submitDeath(model.currentDeath)">
                    Create
                </button>

            </div>
        </div>
    </div>
</div>

