<!--out migration create modal -->
<div class="modal fade" id="outMigrationCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">{{ 'legends.outMigrations' | i18next }}</h4>
            </div>
            <div class="modal-body">

                <fieldset>
                    <br/><br/>
                    <constbox i18next="labels.individual" id="currentIndividual" ng-model="model.currentIndividual.extId"></constbox>
                    <br/><br/>
                    <textbox i18next="labels.destination" id="origin" ng-model="model.currentOutMigration.destination"></textbox>
                    <br /><br /> <!-- todo css padding -->
                    <textbox i18next="labels.reason" id="reason" ng-model="model.currentOutMigration.reason"></textbox>
                    <br /><br />
                    <datebox i18next="labels.migrationDate" id="migrationDate" ng-model="model.currentOutMigration.migrationDate"> </datebox>
                    <br /><br />
                    <selectbox i18next="labels.migrationType" id="migrationType" ng-model="model.currentOutMigration.migrationType">
                        <option ng-repeat="type in model.migrationTypes" value="{{type.codeValue}}">
                            {{type.display}}
                        </option>
                    </selectbox>
                </fieldset>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createOutMigration"
                        ng-click="model.submitOutMigration(model.currentOutMigration)">
                {{ 'buttons.create' | i18next }}
                </button>

            </div>
        </div>
    </div>
</div>
