<!--pregnancy observation create modal -->
<div class="modal fade" id="pregnancyObservationCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" ng-i18next="[html]legends.pregnancyObservation"></h4>
            </div>
            <div class="modal-body">



                <fieldset>

                    <br/><br/>
                    <constbox i18next="[html]labels.mother" id="currentIndividual" ng-model="model.currentIndividual.extId"></constbox>
                    <br/><br/>
                    <datebox i18next="[html]labels.deliveryDate" id="deliveryDate" ng-model="model.currentPregnancyObservation.deliveryDate"> </datebox>
                    <br /><br />
                    <datebox i18next="[html]labels.pregnancyDate" id="pregnancyDate" ng-model="model.currentPregnancyObservation.pregnancyDate"> </datebox>
                    <br /><br />



                </fieldset>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    {{ 'buttons.cancel' | i18next }}
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        id="createPregnancyObservation"
                        ng-click="model.submitPregnancyObservation(model.currentPregnancyObservation)">
                {{ 'buttons.create' | i18next }}
                </button>

            </div>
        </div>
    </div>
</div>
