
<!-- Edit Individual modal -->
<div class="modal fade" id="relatedIndividualModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Related Entities</h4>
            </div>
            <div class="modal-body">

                <div>
                    Memberships:
                    <div ng-repeat = "mem in model.currentEntity.related.memberships">
                        <button>GET</button>
                    </div>
                    <br/><br/>
                    <hr>

                    Relationships:
                    <div ng-repeat = "mem in model.currentEntity.related.relationships">
                        <button>GET</button>
                    </div>
                    <br/><br/>
                    <hr>

                    Residencies:
                    <div ng-repeat = "mem in model.currentEntity.related.residencies">
                        <button>GET</button>
                    </div>
                    <br/><br/>



                    For debugging:
                   <pre>{{model.currentEntity.related | json}}</pre>


                </div>



            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                    Cancel
                </button>


                <button type="submit" class="btn btn-primary" data-toggle="modal" data-dismiss="modal"
                        aria-label="Close">
                    Ok
                </button>



            </div>
        </div>
    </div>
</div>
