<!-- individual select modal -->
<div class="modal fade" id="individualLookupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{{ 'legends.selectIndividual' | i18next}}</h4>
            </div>
            <div class="modal-body" style="overflow-y:auto; height:500px;">


                <div style="border:1px solid black;">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                        <a role="tab" style="border: 1px solid white;" id="lookupTab" data-toggle="tab" data-target="#lookup" ng-i18next="[html]labels.lookup">
                            {{labels.lookup}}
                        </a>
                        </li>
                        <li role="presentation">
                            <a role="tab" style="border: 1px solid white;" id="hierarchyTab" data-toggle="tab" data-target="#byHierarchy" ng-i18next="[html]labels.locationHierarchy">
                                {{labels.locationHierarchy}}
                            </a>
                        </li>

                        <li role="presentation">
                            <a role="tab" style="border: 1px solid white;" id="searchTab" data-toggle="tab" data-target="#search" ng-i18next="[html]labels.search">
                                {{labels.search}}
                            </a>
                        </li>
                    </ul>


                    <div class="tab-content"
                         style="padding-right: 20px;padding-bottom: 20px;padding-left:20px;">
                        <!-- Lookup -->
                        <div role="tabpanel" class="tab-pane fade in active" id="lookup">
                            <ng-include src="'audit/view/auditLookup.html'"></ng-include>

                        </div>

                        <!-- Search By Hierarchy-->
                        <div role="tabpanel" class="tab-pane fade" id="byHierarchy">
                            <div>

                                <br/><br/>


                                <fieldset>
                                    <div ng-hide="model.searchHierarchy == null">
                                        <constbox label="Location Hierarchy"
                                                  ng-model="model.searchHierarchy.extId"></constbox>
                                        <button class="btn btn-danger" ng-click="model.searchHierarchy = null">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                    <div ng-hide="model.searchHierarchy != null">
                                        <label for="hierarchy-select">{{ 'labels.locationHierarchy' | i18next}}: </label>

                                        <div align="center">
                                            <button class="btn btn-default" id="hierarchy-select"
                                                    data-toggle="modal"
                                                    data-target="#hierarchyModalForIndividualLookup"
                                                    data-dismiss="modal"
                                                    ng-disabled="model.entityType == null ||
                                    model.entityType != 'location' &&
                                    model.entityType != 'individual'">
                                                {{ 'buttons.selectHierarchy' | i18next}}                                            </button>
                                        </div>
                                    </div>


                                    <br/>


                                </fieldset>

                                <button id="searchHierarchyGo"
                                        class="btn btn-primary pull-right"
                                        ng-click="model.searchByHierarchy()"
                                        ng-disabled="model.searchHierarchy == null">
                                    {{ 'buttons.search' | i18next}}

                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <br/><br/>


                            </div>


                        </div>


                        <!-- Search By field-->
                        <div role="tabpanel" class="tab-pane fade" id="search">
                            <br/><br/>
                            <br/><br/>

                            <ng-include src="'domain/individual/partials/individualSearch.html'"></ng-include>
                            <button id="searchFields"
                                    class="btn btn-primary pull-right"
                                    ng-click="model.searchByFields()">
                                {{ 'buttons.cancel' | i18next}}

                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button class="btn btn-danger pull-right"
                                    ng-click="model.currentSearch = null">
                                {{ 'buttons.reset' | i18next}}

                            </button>
                            <br/><br/>
                        </div>


                    </div>

                </div>
                <br/>

                <div  ng-if="model.queryResult.displayCollection.length > 0" style="border:1px solid black;padding: 20px">
                    <button class="btn btn-danger pull-right"
                            ng-click="model.clearResults()">
                        {{ 'buttons.clear' | i18next}}
                    </button>

                    <!-- Search for existing individual -->
                    <h4> {{ 'labels.individuals' | i18next}}:</h4>
                    <table st-safe-src="model.queryResult.data" st-table="model.queryResult.displayCollection"
                           class="table table-striped">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'tables.extId' | i18next}}</th>
                            <th st-sort="firstName">{{ 'tables.firstName' | i18next}}</th>
                            <th st-sort="lastName">{{ 'tables.lastName' | i18next}}</th>
                            <th>{{ 'tables.lastName' | i18next}}</th>
                            <th>{{ 'tables.gender' | i18next}}</th>

                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input st-search="extId" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="firstName" class="input-sm form-control" type="search"/>
                            </th>
                            <th>
                                <input st-search="lastName" class="input-sm form-control" type="search"/>
                            </th>
                            <th></th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in model.queryResult.displayCollection">
                            <td>
                                <button type="button" class="btn btn-primary"
                                        data-toggle="modal"
                                        ng-click="model.chooseIndividual(row)"
                                        data-dismiss="modal">
                                    select
                                </button>
                            </td>
                            <td>{{row.extId}}</td>
                            <td>{{row.firstName}}</td>
                            <td>{{row.lastName}}</td>
                            <td>{{row.dateOfBirth}}</td>
                            <td>{{row.gender}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page=10></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        {{ 'buttons.done' | i18next}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- needed separate modal for different destination -->
<div class="modal fade" id="hierarchyModalForIndividualLookup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">Location Hierarchy Select</h4>
            </div>
            <div class="modal-body">
                <select ng-model="model.selectedHierarchy[0]">
                    <option ng-repeat="root_hierarchy in model.locationHierarchies['HIERARCHY_ROOT']"
                            value="{{root_hierarchy.uuid}}">
                        {{root_hierarchy.extId}}
                    </option>
                </select>

                <div ng-repeat="hierarchies in model.availableHierarchies()"
                     ng-if="hierarchies.length > 0">
                    <select ng-model="model.selectedHierarchy[hierarchies[0].level]">
                        <option ng-repeat="hierarchy in hierarchies"
                                value="{{hierarchy.uuid}}">
                            {{hierarchy.extId}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-toggle="modal"
                        ng-click="model.saveSearchHierarchy()"
                        data-target="#individualLookupModal"
                        data-dismiss="modal"
                        id="saveHierarchy">
                    {{ 'buttons.close' | i18next}}

                </button>
            </div>
        </div>
    </div>
</div>
