<!-- social group select modal -->
<div class="modal fade" id="membershipCreateModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
                <h4 class="modal-title">{{ 'legends.assignMembership' | i18next }}</h4>
            </div>
            <form name="form">
                <div class="modal-body">
                    <constbox i18next="[html]labels.individual"
                               id="individual"
                               ng-model="model.currentIndividual.extId">
                    </constbox>
                    <br/><br/>
                    <constbox i18next="[html]labels.socialGroup"
                               id="socialGroup"
                               ng-model="model.selectedSocialGroups[0].extId">
                    </constbox>
                    <br/><br/>
                    <selectbox i18next="[html]labels.membershipStartType"
                               id="membershipStartType"
                               ng-model="model.membership.startType">
                        <option ng-if="code.codeGroup === 'membershipType'"
                                ng-repeat="code in model.codes"
                                value="{{code.codeValue}}">{{code.codeName}}
                        </option>
                    </selectbox>
                    <br/><br/>

                    <span class="alert alert-danger" ng-show="form.membershipStartDate.$error.max">Start date cannot be in the future</span>

                    <br/><br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
                        {{ 'buttons.cancel' | i18next }}
                    </button>
                    <button type="button" class="btn btn-success" data-dismiss="modal"
                            id="createMembership"
                            ng-disabled="form.$invalid"
                            ng-click="model.selectedIndividuals.push(model.currentIndividual);
                                  model.submitMembership(model.membership)">
                        {{ 'buttons.create' | i18next }}
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
