<div ng-init="model.loadData()">
  <div class="col-md-2" id="navColumn" style="background-color: black; color: white;">
    <h1> Open HDS </h1>

    <div id="entities">

      <h2>Entities</h2>

      <div> <a ng-click="model.show('location');"> Locations </a></div>
      <div> <a ng-click="model.show('socialGroup');"> Groups </a></div>
      <div> <a ng-click="model.show('individual');"> Individuals </a> </div>
      <div> <a ng-click="model.show('relationship');"> Relationships </a> </div>

      <h2>Events</h2>

      <div> <a ng-click="model.show('visit');"> Visits </a> </div>
      <div> <a ng-click="model.show('inMigration');"> In Migrations </a> </div>
      <div> <a ng-click="model.show('outMigration');"> Out Migrations </a> </div>
      <div> <a ng-click="model.show('death');"> Deaths </a> </div>
      <div> <a ng-click="model.show('pregnancyObservation');"> Pregnancy Observations </a> </div>
      <div> <a ng-click="model.show('pregnancyOutcome');"> Pregnancy Outcomes </a> </div>
      <div> <a ng-click="model.show('pregnancyResult');"> Pregnancy Results </a> </div>

    </div>

  </div>
  <div class='col-md-8'>
    <form>
      <div class="form-group">
        <label class="col-md-4 control-label">Hierarchy Root</label>
        <div class="col-md-4">
          <select ng-model="model.selectedRootHierarchy"
                  ng-change="model.updateRootHierarchy()"
                  class="form-control">
            <option ng-repeat="h in model.root"
                    value="{{h.uuid}}">{{h.name}}
            </option>
          </select>
        </div>
      </div>
      <br /> <br />
      <div class="form-group">
        <div ng-repeat="hierarchy in model.hierarchiesByLevel">
          <br />
          <div class="form-group">
            <label class="col-md-4 control-label">Hierarchy Level {{$index}}</label>
            <div class="col-md-4">
              <select ng-model="model.locationPath[$index+1]"
                      ng-change="model.updateHierarchy($index+1)"
                      class="form-control">
                <option ng-repeat="hiera in hierarchy"
                        value="{{hiera.uuid}}">{{hiera.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br /> <br />
      <div class="form-group">
        <label class="col-md-4 control-label">{{model.visible}}</label>
        <div class="col-md-4">
          <select ng-model="model.currentLocation"
                  ng-change="model.search(model.currentLocation)"
                  class="form-control">
            <option ng-repeat="location in model.locations"
                    value="{{location.uuid}}">{{location.extId}}
            </option>
          </select>
        </div>
      </div>
    </form>

    <div ng-show="model.visible === 'individual'"
         ng-include="'audit/partials/individualPartial.html'">
    </div>

    <div ng-show="model.visible === 'socialGroup'"
         ng-include="'audit/partials/socialGroupPartial.html'">
    </div>

    <div ng-show="model.visible === 'location'"
         ng-include="'audit/partials/locationPartial.html'">
    </div>

    <div ng-show="model.visible === 'relationship'"
         ng-include="'audit/partials/relationshipPartial.html'">
    </div>

    <!-- Updates -->

    <div ng-show="model.visible === 'visit'"
         ng-include="'audit/partials/visitAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'inMigration'"
         ng-include="'audit/partials/inMigrationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'outMigration'"
         ng-include="'audit/partials/outMigrationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'death'"
         ng-include="'audit/partials/deathAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyObservation'"
         ng-include="'audit/partials/pregnancyObservationAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyOutcome'"
         ng-include="'audit/partials/pregnancyOutcomeAuditForm.html'">
    </div>

    <div ng-show="model.visible === 'pregnancyResult'"
         ng-include="'audit/partials/pregnancyResultAuditForm.html'">
    </div>
  </div>
</div>
